[2013-02-11 15:40] ZweiSteinSoft opened #1 "Add support for JSONP"
Using Codebird in browsers is subject to the [Same Origin Policy](http://en.wikipedia.org/wiki/Same_origin_policy). Adding support for JavaScript callbacks using JSONP will help circumvent this issue.

[2013-02-11 15:44] ZweiSteinSoft opened #2 "Provide getting started guide"
Adding some first steps (alike the ones in codebird-php/README) will greatly help new users.

[2013-03-25 20:11] alfongj opened #3 "detectMultipart is broken"
Due to the "rudimentary" comparison mechanism, detectMultipart returns true for status/update for example. I would suggest simply creating an object with the method calls as keys, and checking later if a given key exists.

[2013-04-26 14:49] #2 closed, assigned to nobody

[2013-04-26 14:52] #1 closed, assigned to nobody

[2013-04-26 14:53] #3 closed, assigned to nobody

[2013-04-27 18:20] ZweiSteinSoft opened #6 "Allow file uploads"

[2013-05-02 21:34] asisin1 opened #8 "Callback urls"
Can I not authenticate using an actual auth_callback url without having to do oob?

Also, why are the requests going to: https://api.jublo.net/codebird/oauth/request_token

rather than directly to twitter?

[2013-05-02 23:47] #8 closed, assigned to nobody

[2013-05-15 18:25] rtvenge opened #9 "statuses/show:id not working"
I'm fairly new to the Twitter API 1.1, so this could be the wrong solution to the problem.

When trying to call 'statuses_show', I was getting the error "Uncaught ReferenceError: c is not defined " meaning that httpmethod was not in the array httpmethods['GET'].

I tried using the parameter "statuses_show_:id" to satisfy the httpmethods array in the plugin (line 800), but then I was getting Code 3

[2013-05-21 18:20] #9 closed, assigned to nobody

[2013-06-07 20:04] bailey-zz opened #12 "statuses/destroy/:id auth?"
I am trying to destroy a status using statuses/destroy/:id (statuses_destroy_ID also using id_str as the id). I consistently receive a 403 with the message of "{"errors":[{"message":"Your credentials do not allow access to this resource","code":220}]}". I have read and write access set up for my app.

I am able to successfully retrieve the timeline and update the status.

I noticed that the succes

[2013-06-10 15:29] svdoever opened #13 "Using from nodejs howto, need to obtain bearer-token"
Can't get it working from nodejs command-line script. Getting error:

[code]

ReferenceError: ActiveXObject is not defined

[2013-06-11 21:48] okolvik opened #14 "https://api.jublo.net/codebird/1.1 returns 500 internal server error"
This started a couple of hours ago.

[2013-06-12 21:29] #14 closed, assigned to nobody

[2013-06-14 12:24] rafis opened #15 "Allow to assign custom proxy address"
### "Error 405 - Method not allowed" allow to specify method customly

When I use cb.setUseProxy(false) I recieve "HTTP/1.1 405 Method Not Allowed", when I have look at request it was "OPTIONS /oauth/request_token HTTP/1.1", but I need "POST /oauth/request_token HTTP/1.1". In documentation there are no words about how to specify method customly.

[2013-06-19 13:43] sergeyd63 opened #16 "No PIN authentication"
How can i get an access token/secret after getting the oauth_token and oauth_verifier in callback url (http://mydomain?oauth_token=blah&oauth_verifier=blah). Trying to do it from your example but without PIN.
Thanks.

[2013-06-21 18:39] ZweiSteinSoft opened #17 "JSHint validation"
Codebird.js should pass JSHint validation, as prove for high-quality code.

[2013-06-21 18:39] #17 closed, assigned to nobody

[2013-06-21 18:42] #6 closed, assigned to ZweiSteinSoft

[2013-06-23 09:06] #16 closed, assigned to nobody

[2013-06-23 09:07] sergeyd63 opened #18 "Call to users_lookup in IE7-9 get JS error"
i have an issue with ie7-9. i do an authentication server side and when i make a call to  'users_lookup' i get a js error: SCRIPT1004: Expected ';'  on returned json. it might be a Twitter issue, but may be someone else have found a solution. unfortunately i have to use ie.

it works fine with other api calls (friends_ids)

[2013-06-23 16:16] ZweiSteinSoft opened #19 "API parameters with escaped characters fail in IE7-9"
API parameters with special characters are double-escaped when using JSONP.

[code]

becomes
...`&screen_name=myx%252Cmynetx`...

Correct result would be

``` &screen_name=myx%2Cmynetx```
[code]

[2013-06-23 18:16] #15 closed, assigned to nobody

[2013-06-23 18:16] #19 closed, assigned to nobody

[2013-06-30 08:39] rkmaier opened #20 "status_userTimeline doesnt work? Is this a bug ?"
This code should work:

var params = {
    screen_name: "twitter"
};

cb.__call(
    "statuses_userTimeline",params,
    {},
    function (data) {
   console.log(data);

}

But i dont get any error messages and the request is empty.

[2013-06-30 18:33] #20 closed, assigned to nobody

[2013-07-02 18:12] #18 closed, assigned to nobody

[2013-07-02 18:58] #13 closed, assigned to nobody

[2013-07-02 18:59] #12 closed, assigned to nobody

[2013-07-02 19:14] ZweiSteinSoft opened #22 "Support streaming API"
[Streaming API](https://dev.twitter.com/docs/streaming-apis). That means, you call the API server once and get back a continuous stream of data, running as long as you wish.  Unfortunately, web browsers today do not fully support the necessary WebSockets API, as you can see on [this graph](http://caniuse.com/#feat=websockets).

[2013-07-02 19:20] ZweiSteinSoft opened #23 "Support internal API methods"
In addition to the API methods publicly documented, the Twitter API also supports undocumented API methods, often for use by internal or official apps.  Codebird may support them (or part of them).

[2013-07-02 19:26] ZweiSteinSoft opened #24 "Add xAuth docs to README"
Codebird supports authenticating via OAuth and xAuth.  The README should contain a section about xAuth.  Can be adopted from codebird-php.

[2013-07-02 19:27] ZweiSteinSoft opened #25 "Add unit testing suite"
Codebird should contain a test suite for finding regressions and hidden bugs. The test suite should run in the browser, for example via Jasmine.

[2013-07-02 20:55] schmidtflo opened #26 "Better Documentation"
I would prefer a better documentation, also with completet but easy programming examples, like an easy website for a twitter stream of an user and with example tokens. So that everybody can copy&paste this website, replace the tokens and then run the website.

[2013-07-10 03:15] olivierpichon opened #28 "Application-only auth not working on Internet Explorer (All versions)"
Hi guys,

Thanks for your great library! I am having an issue with Internet Explorer while trying to get application-only auth:

[code]

Result: Access denied

On some old versions of Internet Explorer the dev tools direct me towards the line 485 of the library:

[code]

I thought it might be related to the following: http://stackoverflow.com/questions/5087549/access-denied-to-jquery-script-on-ie

[2013-07-15 08:28] blamot opened #29 "DM destroy 404 Error"
<code>
     cb.__call(
          "directMessages_destroy",
           {"id" : val.id },
           function (reply) {
           }
     );
</code>

Results in:

POST https://api.jublo.net/codebird/1.1/direct_messages/destroy.json 404 (Not Found)

[2013-07-19 15:50] amwelles opened #32 "https://api.jublo.net/codebird/ not loading"
Looks as if jublo.net is down all together. Any chance this will be fixed?

[2013-07-19 15:57] adityap-optimus opened #33 "statuses_userTimeline returning error "Failed to load resource https://api.jublo.net/codebird/1.1/statuses/user_timeline.json?screen_name=adityapratap270&count=20"
statuses_userTimeline returning error "Failed to load resource  https://api.jublo.net/codebird/1.1/statuses/user_timeline.json?screen_name=adityapratap270&count=20

Also I tried

objTwitterCB.__call(
        "oauth_requestToken",
        {oauth_callback: "oob"},
        function (reply) {
            // stores it
            objTwitterCB.setToken(reply.oauth_token, reply.oauth_token_secret);

[2013-07-20 02:36] rodryquintero opened #34 "Access api.twitter.com directly, bypassing the proxy"
I guess may of you today started experiencing problems with Codebird due to the fact that the proxy, api.jublo.net, is down.

Is there a way to point the library directly to the twitter.com servers and avoid the proxy altogether?

[2013-07-24 19:06] #32 closed, assigned to joshuaatkins

[2013-07-24 19:07] #34 closed, assigned to joshuaatkins

[2013-07-24 19:08] #33 closed, assigned to joshuaatkins

[2013-07-24 19:10] #29 closed, assigned to nobody

[2013-07-31 17:07] fxtrade opened #35 "Not all Rest Commands implemented?"
Hello and thank you for your work.

Trying to favorite a post does NOT work:

cb.__call("favorites_create", {
            "id": "362614359207329800"
        }, function (reply) {
            console.log('Favorite response')
            console.log(reply);
        });

Returns error message:
https://api.jublo.net/codebird/1.1/favorites/create.json
Object {errors: Array[1], httpstatus: 404}
errors:

[2013-08-01 09:49] #35 closed, assigned to ZweiSteinSoft

[2013-08-01 10:10] #28 closed, assigned to ZweiSteinSoft

[2013-08-03 18:39] dipenra opened #36 "getting a 404 @ https://api.jublo.net/codebird/oauth/request_token"
It was working fine yesterday but today start getting a 404 @ https://api.jublo.net/codebird/oauth/request_token

[2013-08-03 20:16] vadimpopa opened #37 "update media"
Hey guys,

what could be the problem when trying "statuses_updateWithMedia". I get

The requested URL /codebird/1.1/statuses/update_with_media.json was not found on this server. "httpstatus":404}

[2013-08-03 21:06] #37 closed, assigned to ZweiSteinSoft

[2013-08-03 21:06] #36 closed, assigned to ZweiSteinSoft

[2013-08-14 11:22] fxtrade opened #38 "Jublo.net Proxy down?"
Unable to connect to the proxy this morning.
Someone else meets this problem?

Thanks,
Walter

[2013-08-14 15:05] #38 closed, assigned to nobody

[2013-08-15 07:03] vantu opened #39 "invalid or expired token code 89"
Hi all
I have using codebird.js  2.4.3 . I login authentical ok but when I  statuses_update show error invalid or expired token code 89  . this my code
var cb = new Codebird;
    function loginTwitter(){
        cb.setConsumerKey(mykey, mysecret);
        cb.__call(
                "oauth_requestToken",
                {},
                function (reply) {
                    // stores it

[2013-08-15 09:40] vantu opened #40 "https://api.jublo.net/codebird/1.1 (Sorry, that page doesn’t exist!)"
Hi all
I have run https://api.jublo.net/codebird only show
    Parent Directory
    cacert.pem
    codebird-cors-proxy.php

not have 1.1
Please confirm help me
thank

[2013-08-15 09:49] #40 closed, assigned to nobody

[2013-08-16 11:52] marioskonstantinou12 opened #41 "Failed to load resource https://api.jublo.net/codebird/oauth2/token"
Anyone else experiencing the same issue?

[2013-08-16 21:17] dipenra opened #42 "https://api.jublo.net/codebird/oauth/request_token is failing"
https://api.jublo.net/codebird/oauth/request_token   is currently giving error

[2013-08-17 18:48] bingorabbit opened #43 "api.jublo.net down?"
Hello All,

I'm trying to access https://api.jublo.net/codebird/1.1/statuses/user_timeline.json?screen_name=twitter&trim_user=1&count=10&include_rts=0&page=1 using CodeBird 2.5.0-dev but it's not working, are we experiencing a server down issue here?

Thanks in Advance..

[2013-08-20 08:49] #41 closed, assigned to joshuaatkins

[2013-08-20 12:33] #42 closed, assigned to joshuaatkins

[2013-08-20 15:05] #43 closed, assigned to joshuaatkins

[2013-08-20 16:16] splinter4e opened #44 "Using CODEBIRD - I GET: https://api.jublo.net/codebird/oauth2/token 404 (Not Found)"
SEE ERROR 42...
https://github.com/mynetx/codebird-js/issues/42

POST https://api.jublo.net/codebird/oauth2/token 404 (Not Found)

api.jublo.net/codebird/oauth2/token:1
oauth2_token
_callApi
(anonymous function)
xml.onreadystatechange

[2013-08-23 11:29] fxtrade opened #45 "Popup Blocked for Pin window"
Hi Everyone,

This is not a bug as the code and codebird script are working fine, but I've noticed that the popup when requesting Twitter's pin is blocked by Chrome and IE, as this is a callback call from the login button clicked and not a direct call from the login button. Is there a way to avoid this popup to be blocked?

Here's basically my code:

In HTML:
A button calling Tlog() onclick.

In J

[2013-08-25 18:41] ZweiSteinSoft opened #46 "Don't force to send base64 media uploads via proxy"
@kurrik [wrote](https://dev.twitter.com/discussions/18169#comment-47812):

Sending media uploads via base64, without forcing proxy, should be enabled in codebirs-js now.

[2013-09-02 21:45] marioskonstantinou12 opened #47 "OPTIONS error ???"
What does this error mean? I do not use a proxy. It is a completely JavaScript based tool I am developing and I don't want to use PHP. Thank you

OPTIONS https://api.jublo.net/codebird/oauth2/token  codebird.js:516
oauth2_token codebird.js:516
_callApi codebird.js:1184
(anonymous function) codebird.js:1185
xml.onreadystatechange

[2013-09-02 23:39] #47 closed, assigned to joshuaatkins

[2013-09-04 12:03] remusnegrota opened #48 "https://api.jublo.net/codebird/oauth/request_token response is hugely delayed"
The first 2 times i used the API call it worked just fine, but after that without making any changes, the response from the call takes between 30 seconds to 2 minutes to arrive.

Any ideas what could be the issue?

[2013-09-17 11:12] #48 closed, assigned to joshuaatkins

[2013-10-09 01:19] andreykul opened #49 "Places & Geo API call issue"
Codebird doesn't recognize the palce_id paramter.
Following the documentation to access geo/id/:place_id
We should call geo_id_PLACE_ID
But it is translated into geo/id/:place/_i_d

[2013-12-09 07:53] neilmarion opened #51 "Can't post a tweet."
[code]

Whenever I call twLogin, the user seems to be authenticated properly - a inAppBrowser pops up that shows the "authenticate" app form. But I'm trying to call twTweetPhoto, nothing's happening. No tweet being updated in my feed.

What could be the problem here?

[2013-12-14 18:36] #23 closed, assigned to ZweiSteinSoft

[2013-12-26 15:39] ZweiSteinSoft opened #52 "Don’t use proxy for non-browser environments"
The CORS proxy should only be used for browsers that have the same-origin policy. Node.js and other non-browser environments (any that do not define the `navigator` object) should use direct connection to the API.

[2013-12-26 15:45] #52 closed, assigned to ZweiSteinSoft

[2013-12-26 15:46] #51 closed, assigned to ZweiSteinSoft

[2013-12-26 15:55] #49 closed, assigned to nobody

[2013-12-26 15:58] #46 closed, assigned to ZweiSteinSoft

[2013-12-26 15:58] #45 closed, assigned to ZweiSteinSoft

[2013-12-26 16:00] #44 closed, assigned to ZweiSteinSoft

[2013-12-26 16:00] #39 closed, assigned to ZweiSteinSoft

[2013-12-28 14:27] #24 closed, assigned to ZweiSteinSoft

[2013-12-28 14:39] ZweiSteinSoft opened #53 "Support AMD module definition syntax"
The [Asynchronous Module Definition (AMD)](https://github.com/amdjs/amdjs-api/wiki/AMD) API specifies a mechanism for defining modules such that the module and its dependencies can be asynchronously loaded. This is particularly well suited for the browser environment where synchronous loading of modules incurs performance, usability, debugging, and cross-domain access problems.

Codebird should su

[2013-12-29 14:05] ZweiSteinSoft opened #54 "Integrate sha1 hash library"
To avoid external dependencies and not-included helper files, the hashing function SHA1 should be integrated into Codebird itself, instead of a separate file `sha1.js`.

[2013-12-29 15:59] #53 closed, assigned to ZweiSteinSoft

[2013-12-29 15:59] #54 closed, assigned to ZweiSteinSoft

[2014-02-18 06:55] writeosahon opened #55 "Typo in _clone function"
When defining the function _clone(obj) , line 806 has (what I believe is) a recursive call to the same function in the event that the data member of the object being clone is itself an object.
I believe that that there is a typo bug on line 806, instead of having a _clone(obj) function call, line 806 has a call to clone(obj). PLEASE NOTE the absence of the underscore( _ ) .
clone()  function is NO

[2014-02-19 22:21] #55 closed, assigned to mynetx

[2014-02-20 21:04] yajd opened #56 "cb.setProxy(false) leads to error page on twitter"
Running this from Win7 desktop Firefox 27.0.1 code is here:

Copied and pasted the code from codebird.js so last revision https://github.com/jublonet/codebird-js/blob/3b9dddee624fc07934685ad6b5084ead802ca299/codebird.js

[code]

Instead of the authorize page it leads you to a twitter page saying

[code]

[2014-03-21 14:00] rafaF opened #58 "Simple Authenticacion snippet code"
Hi!

I have been trying to use the library but I could not...

Can someone provide me a simple Twitter authentication code please?? I always receive a 401 ERROR...

Thank you very much!

[2014-04-03 09:25] mayurloved opened #59 "Not working For ios but working in android"
hello same code not working on ios

[2014-04-04 20:27] mynetx opened #60 "Multiple media uploads per tweet"
https://blog.twitter.com/2014/photos-just-got-more-social

[2014-04-04 22:17] mynetx opened #61 "Allow to request user's email addresses"

[2014-04-10 21:03] tbadaczewski opened #62 "Mobile Safari reports window.XMLHttpRequest typeof "object" and not "function""
Codebird was working great on local Chrome, but once I pushed it into PhoneGap (mobile safari) it stopped making the calls. I tracked it down to the "_getXmlRequestObject" method.

That method looks for typeof window.XMLHttpRequest === "function", but on mobile safari it was reporting as an "object" I just added an || and it solved the problem.

if (typeof window === "object" && window && typeof w

[2014-04-15 07:37] sourcebits-gokul opened #63 "Retweeting Error"
I am trying to retweet a tweet but i am getting 403 error

cb.setToken(localStorage.oauth_token, localStorage.oauth_token_secret);
        cb.__call(
        "statuses_retweet_ID",'id='+id,
        {},
        function (reply) {
            console.log(reply);
        });

[2014-04-29 12:16] mynetx opened #64 "Support statuses/lookup"
https://dev.twitter.com/docs/api/1.1/get/statuses/lookup

[2014-05-01 20:31] hope22 opened #65 "Getting timeout on all requests"
Examples:
OPTIONS https://api.jublo.net/codebird/oauth/request_token net::ERR_TIMED_OUT
GET https://api.jublo.net/codebird/1.1/statuses/home_timeline.json 403 (Forbidden)

[2014-05-03 11:26] #65 closed, assigned to nobody

[2014-05-03 17:12] mynetx opened #66 "Support Titanium"
[code]

As suggested by @AppWerft.

[2014-05-08 19:16] hspindell opened #67 "Inconsistent response times - ERR_TIMED_OUT, aborted calls"
I am getting very inconsistent response times when I make calls with the codebird library. I am making one call to a user's home timeline that gets the last 5 tweets, and another call that uses those tweet IDs to embed them with a call to statuses/oembed. Sometimes it loads the 5 tweets and displays them within 2-3 seconds, but often it just doesn't load anything or loads one and then times out. H

[2014-05-11 03:48] hspindell opened #68 "Codebird calls not working on mobile"
None of my cb_ calls (oauth_requestToken, etc ) are working on mobile, or at least iOS, but they work just fine in my desktop browser. What is the reason for this, and how can I remedy it? Thank you.

[2014-05-11 11:48] dofiltra opened #69 "Not supported parameter: exclude_replies?"
Error 401 (Unauthorized): https://api.jublo.net/codebird/1.1/statuses/user_timeline.json?screen_name=Nickname&exclude_replies=1

Twitter API: https://dev.twitter.com/docs/api/1/get/statuses/user_timeline

[code]

[2014-05-23 09:03] mynetx opened #70 "Use function form of "use strict""
see https://scrutinizer-ci.com/g/jublonet/codebird-js/inspections/c7c06e77-5639-4f8f-973e-daed8f90e303/issues/files/codebird.js?status=new&orderField=path&order=asc#inspectioncomment-78992586

[2014-05-24 12:40] #56 closed, assigned to mynetx

[2014-05-24 12:42] #58 closed, assigned to mynetx

[2014-05-24 12:46] #62 closed, assigned to mynetx

[2014-05-24 12:56] #70 closed, assigned to mynetx

[2014-05-27 22:59] #60 closed, assigned to mynetx

[2014-06-07 12:46] #66 closed, assigned to mynetx

[2014-06-08 18:33] mynetx opened #71 "Return rate-limiting information only if an API method is rate-limited"
See jublonet/codebird-php#63.

[2014-06-08 18:39] #71 closed, assigned to mynetx

[2014-06-17 14:16] #68 closed, assigned to nobody

[2014-06-18 16:47] mynetx opened #72 "Don't require consumer key if bearer token is already known"
See jublonet/codebird-php#57.

[2014-06-18 16:49] #72 closed, assigned to mynetx

[2014-06-18 17:02] #69 closed, assigned to mynetx

[2014-06-18 17:03] #64 closed, assigned to mynetx

[2014-06-18 17:04] #63 closed, assigned to mynetx

[2014-06-18 17:07] #61 closed, assigned to nobody

[2014-07-01 16:56] DustinJSilk opened #74 "IE 9 with proxy not working."
Ive created a proxy to allow for CORS, though am still getting an error in the codebird.js file.

At line 1345 i get:  Unspecified error.

  var rate = {
                        limit: xml.getResponseHeader("x-rate-limit-limit"),
                        remaining: xml.getResponseHeader("x-rate-limit-remaining"),
                        reset: xml.getResponseHeader("x-rate-limit-reset")

[2014-07-09 04:16] saifanam opened #75 "Is there a way to get timeline?"
I was trying to find a Codebird equivalent of getting the timeline status of the user as explained in here: https://dev.twitter.com/docs/api/1.1/get/statuses/user_timeline. Any thoughts?

[2014-07-09 19:03] yesity opened #76 "net::ERR_CONNECTION_TIMED_OUT https://api.jublo.net/codebird/oauth2/token"
I'm using codebird to get tweets using search API, it just stop working today, and I can see this error on the site Failed to load resource: net::ERR_CONNECTION_TIMED_OUT https://api.jublo.net/codebird/oauth2/token

is there any issue with proxy?

[2014-07-22 08:08] #76 closed, assigned to nobody

[2014-08-02 13:30] #74 closed, assigned to nobody

[2014-08-02 13:32] #67 closed, assigned to joshuaatkins

[2014-08-03 12:04] jublo opened #77 "Apply code refactorings from codebird-php"

[2014-08-14 15:58] araskin opened #78 "Error code 32 (could not authenticate you) when passed status with a space in it"
Hi,

I am using your library to post status updates to Twitter. When the status parameter has the value of HelloWorld everything works great and the status is updated to twitter. However when the value is Hello World (with a space between the words) I get an error from the Twitter API as follows:

{ status: 401, headers: { 'content-length': '63', 'content-type': 'application/json; charset=utf-8',

[2014-09-26 02:26] EbanEscott opened #79 "user/lookup for 100 user ids"
Hi J.M.

How are you? I am well and having some issues with users/lookup. Could I trouble you for some time please.

https://dev.twitter.com/rest/reference/get/users/lookup states we can "100 users per request, as specified by comma-separated values passed to the user_id and/or screen_name parameters". However, when I try do do this through codebird I get:

stdClass::__set_state(array(
   'httpsta

[2014-09-27 08:38] #79 closed, assigned to mynetx

[2014-09-29 19:23] rojobo opened #80 "Proxy timeout"
Is anyone experiencing the same issue??

on friday sept 26th my code stopped working

i get nothing but timeouts!!!!!!!!!!!!

OPTIONS https://api.jublo.net/codebird/1.1/statuses/show/514148106129395712.json net::ERR_TIMED_OUT codebird.js:1425
POST https://api.jublo.net/codebird/oauth2/token net::ERR_TIMED_OUT api.jublo.net/codebird/oauth2/token:1
POST https://api.jublo.net/codebird/oauth2/token ne

[2014-09-29 19:29] rojobo opened #81 "Special oauth_ methods: Fix force_login parameter"
on the codebird.js file line #590 has an error!! when authenticating in order for us to use the force login parameter there neeeds to be an "&" instead of a "?" otherwhise when setting this parameter to true it would not force login......!!!!

line #590            url += "?force_login=1";

change to....

line #590            url += "&force_login=1";

[2014-09-29 19:37] #80 closed, assigned to joshuaatkins

[2014-10-09 16:34] rojobo opened #82 "ERR NAME NOT RESOLVED"
HELLO GUYS IS THIS AN ISSUE ON YOUR SIDE OR WHY AM I GETTING THIS SINCE THIS MORNING? @jublo

OPTIONS https://api.jublo.net/codebird/oauth2/token net::ERR_NAME_NOT_RESOLVED codebird.js:679
OPTIONS https://api.jublo.net/codebird/oauth2/token net::ERR_NAME_NOT_RESOLVED codebird.js:679
OPTIONS https://api.jublo.net/codebird/oauth2/token net::ERR_NAME_NOT_RESOLVED codebird.js:679
OPTIONS https://api.j

[2014-10-09 19:27] #82 closed, assigned to joshuaatkins

[2014-10-10 02:51] rojobo opened #83 "Error 105 (net::ERR_NAME_NOT_RESOLVED)"
guys i switched from my office to my home router and this sometimes works and sometimes i keep getting a timeout so i dont know if its an issue on your end

[2014-10-16 21:33] araskin opened #84 "call to account/verify_credentials fails"
The method '__call' fails when passing in ' account/verify_credentials'. In this method there is some code that changes the underscore to a / which then fails when it calls the _detectMethods method.

Can you recommend a fix?

[2014-10-24 14:40] #81 closed, assigned to mynetx

[2014-10-24 14:41] #84 closed, assigned to mynetx

[2014-10-24 14:45] #75 closed, assigned to mynetx

[2014-10-24 14:46] #59 closed, assigned to mynetx

[2014-11-10 06:50] SameerMakhija opened #85 "Not able to invalidate token using codebird"
Response:-
{
code: 99
label: "authenticity_token_error"
message: "Unable to verify your credentials"
}

[2014-12-05 12:06] mikefrancis opened #86 "JS error in IE8"
Getting the following error when debugging in Internet Explorer 8 (woe is me having to support it!)

[code]

All other browsers working fine. Any ideas what could be the problem?

[2014-12-08 09:53] #86 closed, assigned to mynetx

[2014-12-18 11:52] sobytes opened #87 "Status retweet not working"
Hi

Love the script, but i am a bit stuck with retweeting i get this error.

[code]

I am doing a bit of debugging and the url seems correct that i am sending here is the url. documentation here https://dev.twitter.com/rest/reference/post/statuses/retweet/%3Aid.

[code]

And i am calling it with the library like this.

[code]

It is authenticated can you let me know where i might be going wrong

T

[2014-12-18 13:49] #78 closed, assigned to mynetx

[2014-12-18 15:41] #87 closed, assigned to mynetx

[2015-01-08 14:20] jublo opened #88 "Support Parse.com HTTP requests"
https://parse.com/docs/cloud_code_guide#networking

@araskin

[2015-01-20 14:42] mohan-mon opened #89 "ERR_CONNECTION_TIMED_OUT"
when i'm making the requests, it is sending a timeout error. when i went to https://api.jublo.net/codebird/1.1/users/show.json  i found the server down.
Can someone help me understand if it is a temporary issue or it is permanently taken down..?

Thank you,
Mohan.

[2015-01-20 19:34] inamalam commented on #89
I am also facing ERR_CONNECTION_TIMED_OUT issue for the call https://api.jublo.net/codebird/oauth/request_token seems like server is down.

Any update?

[2015-01-20 19:41] mohan-mon commented on #89
Unfortunately its still the same. Just yesterday i accepted to do a project for my client keeping this in mind and today it stopped working!

[2015-01-20 20:32] writeosahon commented on #89
@jublo PLEASE RESPOND TO this issue raised by @mohan-mon  and @inamalam .
I am facing the same issue. The app I created suddenly stopped displaying tweets to my end-users.
Please kindly respond.

Thanks

[2015-01-20 20:37] jublo commented on #89
Hi there,
Thank you all for reporting this issue. We're aware and working on a fix. Your client-side code does not need any fixes, as this issue is caused server-side.

[2015-01-20 20:44] writeosahon commented on #89
@jublo Thank you, You are a life saver.!! :)  Please can you kindly post to this thread when the issue is fixed?
Thank you so much

[2015-01-20 20:51] jublo commented on #89
@writeosahon You're welcome, Osahon. Our engineering department is currently heading over to the server rooms to take an extensive look at the wires.

[2015-01-20 20:52] mohan-mon commented on #89
@jublo Please don't take me in wrong way, may i please know when can we expect it to be resolved and if this will be temporary or permanent fix..?and if this will stay live for at least an year or so..?Asking because, depending on that i have to  decision on whether i can go with this or not for my client project.

Thank you,
Mohn

[2015-01-20 21:30] jublo commented on #89
@mohan-mon We have no plans to deprecate support for the public Codebird proxy. If you want to make sure your environment is unaffected, why not take a look into [setting up your own proxy](https://github.com/jublonet/codebird/cors/proxy)?

[2015-01-21 00:40] joshuaatkins commented on #89
I have now managed to restore service on the Public API. We are going to continue to monitor the service overnight (UK time here 12:40am!) and review in the morning and add some additional redundancy.

Please post if you start to experience anymore problems.

[2015-01-21 07:03] inamalam commented on #89
Thanks guys it's working.

[2015-01-21 09:40] mohan-mon commented on #89
Thanks a lot for the efforts put in to restore the service.
Its working now.
Thanks again to @joshuaatkins

[2015-01-21 12:31] #89 closed

[2015-01-31 21:20] mohan-mon opened #90 "502 Bad Gateway"
When i'm making the requests, I have been getting many 502 Bad Gateway responses lately.
Can you please check.

Thank you,
Mohan.

[2015-02-02 05:31] jublo commented on #90
Thanks for notifying us, @mohan-mon. We will take a look ASAP.

[2015-02-02 05:32] wbyoko commented on #90
:+1:

[2015-02-03 21:02] graphical-iain commented on #90
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-02-03 21:06] graphical-iain commented on #90
I have been getting this as well. Here's the output to my console in Chrome:

<pre><code>POST https://api.jublo.net/codebird/oauth2/token
502 (Bad Gateway)  codebird.js:679
GET https://api.jublo.net/codebird/1.1/search/tweets.json?q=hashtag&count=10
502 (Bad Gateway)  codebird.js:1425</code>
</pre>

[2015-02-04 01:09] joshuaatkins commented on #90
Thanks for your patience, we have made some performance improvements to this and will monitor over the next few days.

Please let us know if you continue to have problems.

[2015-02-09 09:53] rdaqnha opened #91 "pin Authentication reply httpstatus= 0"
When I call to oauth_accessToken sending the pincode, I received  httpstatus= 0 and I can't setToken with the oauth_token.
You can see the example in http://rdaqnha.vservers.es/twitter_pin_box.html
I think that all is ok, but I don't know why I don't receive  the oauth_token in the reply.
My app config is
Website *
http://rdaqnha.vservers.es/twitter_pin_box.html
Callback URL
http://rdaqnha.vserver

[2015-02-18 12:51] loveblank opened #92 "https://api.jublo.net/codebird/oauth2/token not responding"
https://api.jublo.net/codebird/oauth2/token is unreachable

[2015-02-22 09:49] writeosahon opened #93 "Code Bird NOT retrieving tweets"
@jublo Please just noticed that my server app based on CodeBird stopped retrieving new Tweets from my organisations twitter account. It stopped yesterday (Saturday).
Please, I know this is weekend but can someone look into this.
A lot of developers (including myself) rely on CodeBird a lot and I wouldn't mind paying something small to ensure your servers do not misbehave.
Please @jublo . Look into

[2015-02-23 09:50] joshuaatkins commented on #93
Hi @writeosahon, Thank you for reporting this to us! We managed to bring the service backup, and have made some additional tweaks to the API infrastructure.

In terms of your proposal for a paid solution, this is definately something we are considering putting into our business model - but because we like to try and be fair to our users we would like your input first.

Could you answer some of the

[2015-02-23 12:06] writeosahon commented on #93
@joshuaatkins Hello. Thanks for responding and fixing the problem.
In answer to your question, I believe the CodeBird library is critical and important to a lot of developers.
* How much will I be willing to pay - I think $10/month (For Application Tokens) and $15/month (For Client/User Tokens)
* Payment Model - I personally prefer a tiered model. It's simpler to understand and calculate. A Free t

[2015-02-23 12:08] writeosahon commented on #93
I forgot to add that your paid method MUST support card payments e.g. MasterCard, Visa Card etc.

Cheers!!

[2015-02-23 16:06] mohan-mon commented on #93
Hi,
I'm unable to get tweets or connect to your proxy, after seeing this issue i thought you have already started working on it but found your comment "managed to bring the service backup". so thought of informing that it is still giving connection timeout errors.Hope you will look into it.

Thank you in advance,
Mohan.

[2015-02-23 16:09] mohan-mon commented on #89
Sorry that i'm reopening it.
It is again giving timeout errors for any call.

Thank you in advance,
Mohan.

[2015-03-03 20:59] Grabes commented on #92
I am also having the same problem. Trying to access https://api.jublo.net/codebird/oauth2/token returns a 502 error.

[2015-03-03 21:05] mohan-mon commented on #90
Again I have been getting many 502 Bad Gateway responses.
Can you please check.

Thank you,
Mohan.

[2015-03-03 22:30] joshuaatkins commented on #90
Hi @mohan, we have been informed by our data centre that there have been some network connectivity issues over today.

Can you outline when you are receiving these errors?

Sent from my iPhone

[2015-03-04 11:29] mohan-mon commented on #90
Hi @joshuaatkins ,
Sorry for the delay in replying.
It happened 14 hours ago.
My code was requesting for "lists_statuses" at the point of time.
Hope this helps.

[2015-03-06 09:50] joshuaatkins commented on #90
hey @mohan-mon, our DC was conducting some emergency maintenance at that time. Can you confirm whether you are experiencing more of this?

[2015-03-06 16:59] Juggernaut93 commented on #90
@joshuaatkins I'm getting this error just now.

[2015-03-06 18:25] graphical-iain commented on #90
I am as well, with the same console errors as I posted before.

[2015-03-06 18:44] joshuaatkins commented on #90
Hi @graphical-iain, @Juggernaut93. Sorry! We had to make emergency maintenance on the server. We did fail over to our UK node - but DNS doesn't propagate that quickly!

This has now been resolved and service restored.

We are currently in the process of creating a premium - more resilient API service with a distributed network of servers, but this isn't quite ready yet.

[2015-03-07 11:38] mohan-mon commented on #90
Hi @joshuaatkins thank you for the response and restoring the service.
Hope you will retain the present service as free and create a premium service with more features/services added to it.Because for old projects which we have done long back, neither we can start charging old clients for whom we have built apps using this service long back nor we can pay it from our pockets for old projects.
Hope

[2015-03-18 10:21] mrbellek commented on #91
I have the same problem, it seems to be related to issue #92.

[2015-03-23 06:57] Namib opened #94 "Unable to logout"
How can I log out from twitter? I cannot find any method to achieve this..please suggest. Thanks!

[2015-03-27 10:52] jublo commented on #94
How about just deleting the access token and its secret from your storage and reinitializing the codebird class?

[2015-03-27 10:53] jublo commented on #93
Does this work for you now, @mohan-mon?

[2015-03-27 10:53] jublo commented on #92
Does this work for you now, @loveblank and @Grabes?

[2015-03-27 10:54] jublo commented on #91
Has this been resolved for you, @rdaqnha and @mrbellek?

[2015-03-27 10:56] mohan-mon commented on #93
Yes @jublo , thank you for the efforts put into it.

[2015-03-27 10:57] jublo commented on #93
Thanks for your positive feedback!

[2015-03-27 10:57] #93 closed

[2015-03-27 10:57] #83 closed

[2015-03-27 17:11] Grabes commented on #92
Yes it is working now but the proxy went down for about 12 hours and it cost us. How could we build our own proxy service for this? Would you be able to share some of the code?

[2015-03-27 18:15] joshuaatkins commented on #92
Hi @Grabes, you can see our proxy code here https://github.com/jublonet/codebird-cors-proxy. Over the past month we have invested alot of money, and are going to invest more in improving the redundancy and performance of this proxy. Having 100% uptime over the past 14 days.

[2015-03-27 18:35] Grabes commented on #92
We appreciate the support and have noticed an increase in speed over the last week. Thanks!

[2015-03-27 19:54] rojobo commented on #81
@jublo ive been absent for I while as you guys can tell I was hoping that by the time I got back you guys would release update 2.6 but I just ran a bower update and the version is still 2.5 and this is still an issue. Any date on the next release>? thanks a bunch

[2015-03-27 20:35] rojobo opened #95 "Please release 2.6.0 and push through bower"
HI GUYS,

RUNNING A BOWER UPDATE WILL NOT UPDATE TO 2.6
 DIRECTLY SETTING THE BOWER.JSON FILE TO 2.6-DEV

I GET:

Available versions: 2.5.0, 2.5.0-rc.2, 2.5.0-rc.1, 2.5.0-alpha1.1, 2.5.0-alpha.1, 2.4.3, 2.4.2, 2.4.1, 2.4.0, 2.3.3, 2.3.2, 2.3.1, 2.3.0, 2.2.3, 2.2.3-internal, 2.2.2, 2.2.2-internal, 2.2.1, 2.2.0
dev6@natboucher:/home/projects/hts_app$ bower install codebird --save-dev
bower codebird#

[2015-03-28 18:44] jublo commented on #81
Sorry @rojobo for the release delay. We will actively work on a release within a week. Does that suit you?

[2015-03-28 18:52] jublo commented on #92
Thanks @Grabes for your feedback. We will leave this issue open for some time and close it if no additional outages occur.

[2015-03-28 19:04] #94 closed

[2015-03-28 19:35] jublo commented on #95
`2.6-dev` is not a version (that could be accessed via bower), but the current **dev**elopment branch.
That being said, have a look at [codebird-js 2.6.0-rc.1](https://github.com/jublonet/codebird-js/releases/tag/2.6.0-rc.1), a prerelease version of the upcoming 2.6.0.

For your convenience, codebird-js 2.6.0-rc.1 is also available on Bower and NPM.

[2015-03-28 19:35] #95 closed

[2015-03-29 04:47] Namib commented on #94
Thanks for the reply. Yes, I will try this. But it would be simple if a logout() method is added in the .js itself. Just a suggestion. :)

[2015-03-30 12:43] mrbellek commented on #91
No. The request_token call to api.jublo.net/codebird/oauth still returns nothing.

[2015-03-30 12:43] mrbellek commented on #92
It still doesn't work for me. I copied the example code word for word.
The request_token call to api.jublo.net/codebird/oauth still returns nothing.

[2015-03-30 13:54] jublo commented on #92
Let's track this issue at #91.

[2015-03-30 13:54] #92 closed

[2015-03-30 14:05] jublo opened #96 "Add logout method"
As a user, I want to be able to log out from the Twitter account currently logged in. Calling `logout()` should cause Codebird to forget the access token and secret.

See #94.

[2015-03-30 14:06] jublo commented on #94
Thanks @Namib for your suggestion.  We have added #96 to our backlog.  Please send us an e-mail to support@jublo.net so we may add you to the codebird-js news list (low frequency, only for new releases and important service announcements). Don't worry—we have spam as much as you do.

[2015-03-30 15:14] rojobo commented on #95
@jublo always prompt and kind thanks a lot

[2015-03-30 15:29] jublo commented on #95
@rojobo You're welcome!  Why not recommend us on Twitter? :bird:

[2015-03-31 07:27] Namib commented on #94
No problem. Thanks for considering the suggestion and adding it to backlog. Looking forward to hearing from you on mail :)

[2015-04-02 07:14] mrbellek commented on #91
This is what shows in Opera console when I start the 'auth by PIN' example code:

![image](https://cloud.githubusercontent.com/assets/1481377/6959356/6a215cfe-d918-11e4-8d5a-474a9cb2cf21.png)

I put "alert(auth_url);" right after the "function (auth_url) {" line from the example code and it always shows the api.twitter.com link without a token at the end.

[2015-04-04 12:24] jublo commented on #91
@mrbellek Please provide us with a staging environment where we can reproduce the issue live. You may send the login details to :email: support@jublo.net and we will keep them secret :lock:.

[2015-04-08 07:44] mrbellek commented on #91
Thanks, will try. Hopefully I will have time soon.

[2015-04-09 14:58] mrbellek commented on #91
I have setup a test page and sent you an email at the provided email address.

[2015-04-18 10:18] jublo commented on #91
Hi Marijn,
Thank you for your patience and the test environment. We could reproduce the issue.

The Codebird authentication code is run in a click handler for a hyperlink element. Browsers do not allow to run calls to servers (Ajax) while a click handler is being processed, because the user will soon navigate away from the page.

The solution is to change your JavaScript onclick handler as follows

[2015-04-18 10:23] jublo commented on #91
Added a README comment in 6d27679d99bd5ba9e1df6b5f88be3d131ae3749c.

[2015-04-18 10:23] #91 closed

[2015-04-19 02:46] jayanratna opened #97 "Error from codebird.js"
Hello

I am getting the following error when trying to load the user timeline.

Could someone please tell me how I can fix this.

Thank you :)

[2015-04-19 03:33] jayanratna commented on #97
I found the issue. My application had XHR's disabled, which made some sense.

[2015-04-19 03:33] #97 closed

[2015-05-12 13:03] jublo opened #98 "Support promises as alternative to callbacks"

[2015-06-02 21:14] araskin opened #99 "Calling media/upload with incorrect Content-Type"
Hi,

I am using callBird to call media/upload end point. However, I noticed that the content-type is being set as application/x-www-form-urlencoded and according to https://dev.twitter.com/rest/reference/post/media/upload it should be set to multipart/form-data

Is this a bug or am I doing something wrong?

[2015-06-08 19:42] simsketch opened #100 "Jublo API is responding with an http status of 0"
Any ideas why this might be happening? I just noticed the behavior starting today.

[2015-06-11 15:37] jublo commented on #99
Hi Alon,

have some sample code that you're using to upload your image?

[2015-06-11 15:37] jublo commented on #99
Also, which codebird version are you running?

[2015-06-15 16:03] JosephOR opened #101 "Twitter ad campaigns"
Hey,
I just came across codebird-js, had a quick look and able to get timeline statuses quite easily, compared to some other libraries. The problem is I need to access twitter ad campaigns, and noticed that there is no methods in codebird.js to retrieve these. I know there is a codebird-php as well, so is there a version for retrieving ad campaign data.
here is the calls I need to make - https://d

[2015-06-15 17:34] jublo commented on #101
Hi Joey,

Thanks for your request on. Codebird does not currently support accessing the Ads API, but we may look into adding support for this soon!

[2015-06-28 20:39] simsketch commented on #100
Looks like it kind of just resolved on its own.

[2015-07-01 17:09] #100 closed

[2015-07-08 02:41] mparker11 opened #102 "Access-Control-Allow-Origin issue"
Just started working on my website and started getting this error.
![shot_150707_193917](https://cloud.githubusercontent.com/assets/825507/8561856/1b23a1b6-24e0-11e5-9e1b-807ca289aea3.png)

[2015-07-08 02:42] mparker11 commented on #102
Nevermind. A few minutes later is stopped.

[2015-07-08 02:57] mparker11 commented on #102
Issue came back

[2015-07-21 02:22] chrisxwan commented on #90
Hi @jublo and @joshuaatkins, I've been getting the 502 service error recently (it was working earlier today!)

It's failing when I call

[code]

Could you take a look?

Thank you so much!

[2015-07-21 06:27] jublo commented on #90
Thanks @chrisxwan for your report!  We will take a look at it.

[2015-07-27 09:24] mohan-mon opened #103 "Rate limit"
One of my clients is getting empty responses when making a call to "lists_statuses".
So may I please know if there are any rate limits imposed by you which is making it to send empty responses.
App helps in alerting the user when there are new tweets from the given list in twitter.
I'm using list_id parameter which is given as params to request for new tweets after that id.

I can understand there

[2015-07-27 09:36] jublo commented on #103
Hi @mohan-mon, we're not currently imposing our own rate limits on the proxy API besides the ones implemented by the Twitter API itself.

Can you record some of the requests, for example with [Fiddler](http://www.fiddler2.com/), and send us the recording?

Thanks!

[2015-07-27 09:42] mohan-mon commented on #103
Thank you for responding.
Sure, I will look into fiddler and try to record.I haven't used it anytime yet, but will try to go through it and record, It would be of great help if you could stated what/how i have to record, just 2 to 3 instructions would be of great help as i can manage to take it from there.

[2015-07-27 09:44] jublo commented on #103
When starting Fiddler, recording starts automatically (it sets your browser proxy). For Firefox, get the Fiddler add-on. In the Fiddler options, enable HTTPS decryption, and import the root certificate. Then, run your Codebird page test. In Fiddler, you will see requests being made to api.jublo.net. Select all and export them. Afterwards, exit Fiddler to stop intercepting your web connections.

[2015-07-27 09:47] mohan-mon commented on #103
Is it available even for chrome as extension as i have to use the tool through chrome.If so can you please state the instructions for chrome extension as well.

[2015-07-27 10:47] jublo commented on #103
Chrome doesnt need any extension as Chrome uses the system proxy settings inherited from IE.

[2015-08-05 11:09] jublo opened #104 "Enhance IE9 POST support"
- [ ] Evaluate if XDomainRequest can be used
- [ ] Implement a solution, if it could work

------

Initiated by @achubb.

[2015-08-05 11:26] mohan-mon commented on #103
Sorry for the delay in replying. We found that there was a problem with the network as it was fine from my system in India but was not working in client's system in USA. When he changed his network, it started working again (before the changing of network, everything was working fine on his system except this API calls).
As the problem is solved after network change, i'm closing this issue.

Thank

[2015-08-05 11:26] #103 closed

[2015-08-05 11:56] jublo commented on #104
https://msdn.microsoft.com/en-us/library/cc288060(v=vs.85).aspx

[2015-08-17 10:02] jublo commented on #102
Does this still happen for you, @mparker11?

[2015-08-17 10:03] jublo commented on #99
See #104.

[2015-08-17 10:03] #99 closed

[2015-08-17 10:04] jublo commented on #90
Has this been resolved for you, @mohan-mon?

[2015-08-17 10:05] jublo commented on #85
Is this still an issue for you, @SameerMakhija?

[2015-08-17 13:25] mparker11 commented on #102
From what I can tell, I haven't had any issues since. Thanks!
On Aug 17, 2015 3:02 AM, "Jublo" <notifications@github.com> wrote:

[2015-08-17 14:49] jublo commented on #102
Thanks!

[2015-08-17 14:49] #102 closed

[2015-08-18 14:47] mohan-mon commented on #90
@jublo thank you for asking, it is working fine.

[2015-08-18 14:47] jublo commented on #90
Glad to hear!

[2015-08-18 14:47] #90 closed

[2015-09-05 22:26] fadaytak opened #105 "exception when no internet connection exist"
hi,

im using this library with titanium and works fine, but when im testing it without internet connection to make some alert for client saying that a something was happen and we cannot share actually ....

but the problem i can't catch any thing no error ...

is the library get back error to call function ? some exemple to do this ?

    var result = {};
    var params = {
	    	screen_name: use

[2015-09-06 13:00] hamzaezzi commented on #105
you can add in codebird.js file this code

        // function called when an error occurs, including a timeout
		xml.onerror = function(e) {
			callback(null,null,e);
		};
		xml.timeout = 30000;  // in milliseconds

and when you call __call function you do like this

    codebird.__call("users_show", params, function(reply,rate,err) {
                if(err){
                      alert("err" + J

[2015-09-09 08:57] hhammoud01 commented on #16
Hey guys, anyone solved this issue ?
Thanks in advance.

[2015-09-09 14:40] fadaytak commented on #105
yes !!! thanks, works fine

[2015-09-09 18:30] jublo commented on #105
Reopening this issue as this should be part of Codebird itself. @hamzaezzi Can you send a PR, please?

[2015-09-10 08:34] hamzaezzi commented on #105
done

[2015-10-06 13:49] kvonspiczak opened #107 "Persist login after page reload (save token in cookie)"
Hi guys,

I tried saving the received tokens in cookies with the help of https://github.com/js-cookie/js-cookie .
I could not get it to work however. I'm a bit confused about the different kinds of tokens (access/request). I tried saving them separately and access them whenever needed. Every time I tried using the saved tokens, they were either already expired or incorrect. Can someone give me a h

[2015-10-07 11:46] jublo commented on #107
Once you have a working access token + secret, cache them, for instance, using this small script:

[code]

Next time the visitor comes and loads the page, just check if you have an access token in the localStorage, and use it right away without authenticating:

[code]

When calling media_upload then, I'd watch for httpstatus 401, which would mean the user has revoked the access to your app in the

[2015-10-07 12:56] kvonspiczak commented on #107
I can't get it to work this way. The thing that confuses me the most is that one time you call setToken with request token as params, and the other time you call it with access token as params. I'm trying to split my logic into smaller pieces, so that I can call authorize, getRequestToken or whatever is needed when the user clicks on my share button. Right now I check the localStorage, if my cache

[2015-10-07 13:26] filipjohansson opened #108 "Not receiving new tweets when searching"
As of today when I do a search I receive 15 tweets, I then fire the exact same search a while later and I receive the exact same tweets, even though there are new tweets when I do a regular search on https://twitter.com/search-home. It used to work just fine.

[2015-10-07 17:24] jublo commented on #108
Hey @filipjohansson, this is probably because requests get cached, but you should get new data within 15 minutes.

Can you please confirm?

[2015-10-07 17:25] jublo commented on #105
@hamzaezzi Please test in `develop` branch now.

[2015-10-08 12:17] filipjohansson commented on #108
I did seem to get new tweets after a while. I changed to my own proxy and that solved my problems. Is there a cache on your servers?

[2015-10-09 08:04] jublo commented on #108
As I said:

Glad to hear you were able to resolve your issue!

[2015-10-17 10:28] jublo commented on #107
Hi Kevin,
Thanks for the detailed explanation of your app logic.

Two things that I noticed:

1. You said that after the authentication flow, you call setToken with the access token and its secret. That is correct. But—are you calling setToken every time the page is loaded, so the access token is always set before calling media_upload? Otherwise, the access token will be in the localStorage, but C

[2015-10-19 11:40] kvonspiczak commented on #107
Hi jublo,

every page load (on user button click event) I call "oauth_requestToken" and store                 it ```codeBird.setToken(reply.oauth_token, reply.oauth_token_secret);```
then I call "oauth_authorize", wait for the user to enter the PIN and then I call "oauth_accessToken" and afterwards: ```codeBird.setToken(reply.oauth_token, reply.oauth_token_secret);``` again.
To your 2nd question:

[2015-10-19 12:26] jublo commented on #107
Exactly, @kvonspiczak! Access tokens are valid for as long as the user that logged in didn't revoke access yet.

[2015-10-20 13:02] kvonspiczak commented on #107
Okay so basically at the load of the page I would check my localStorage and see if I have a token + secret saved in there. If I already got these information, I'm going to try to upload the image, if this fails, the token is probably expired/invalid, so I'd request a new access token by requesting a new request token, let the user enter the pin etc.?

[2015-10-21 13:20] jublo commented on #107
@kvonspiczak That’s right!

Find [more information about OAuth](https://dev.twitter.com/oauth/overview) on the Twitter website.

[2015-11-26 18:35] jublo commented on #16
Can anyone of you please provide us with a full simple sample that reproduces the bug described here?

[2015-12-04 09:12] #96 closed

[2015-12-04 09:12] #85 closed

[2015-12-04 09:13] #105 closed

[2015-12-04 09:13] #107 closed

[2015-12-04 09:13] #108 closed

[2015-12-04 10:52] #98 closed

[2015-12-04 10:56] jublo commented on #88
@araskin This requires too many changes that are out of scope for Codebird itself. Similar to [automattic/wp-codebird](https://github.com/automattic/wp-codebird), you’re welcome to create a fork that supports Parse.com HTTP requests.

[2015-12-04 10:56] #88 closed

[2015-12-04 16:21] #77 closed

[2015-12-04 18:44] jublo commented on #22
Twitter does not support HTML5 WebSockets. Implementing this is only possible with a server-side Node.js environment, like with sockets.io.

Pushing this back to a later release thus. For now, please take a look at https://github.com/andregoncalves/twitter-nodejs-websocket.

[2015-12-04 18:44] jublo commented on #22
<img width="595" alt="bildschirmfoto 2015-12-04 um 19 41 41" src="https://cloud.githubusercontent.com/assets/6348321/11597990/76f887ae-9abf-11e5-9b92-f6489c61e6d7.png">

[2015-12-04 19:44] jublo opened #110 "Support collections API"
https://dev.twitter.com/rest/collections/about

[2015-12-04 20:01] jublo opened #111 "Support TON API"
https://dev.twitter.com/rest/ton

[2015-12-04 20:04] jublo opened #112 "Support Curator API"
https://dev.twitter.com/rest/curator

[2015-12-04 20:08] jublo commented on #101
Hi again @JosephOR,

This is out of scope for Codebird itself. We are looking whether to make available a separate library in JS and/or PHP for accessing the Twitter Ads API. What is your environment—JS or PHP?

[2015-12-04 20:09] #111 closed

[2015-12-04 20:09] #112 closed

[2015-12-04 20:09] jublo commented on #104
Supporting IE9 is not anymore on our radar. Closing as 'wont-fix'.

[2015-12-04 20:09] #104 closed

[2015-12-04 20:10] jublo commented on #26
@schmidtflo Is having better documentation still a key issue for you?

[2015-12-04 20:13] #101 closed

[2015-12-19 02:47] nguyenhose opened #113 "Error processing your OAuth request: Invalid oauth_verifier parameter: null"
Hi, I just use code bird to get access_token, but seem the examples does not work with this line
[code]
when my return url is

[code]

So I decided to fix to
[code]
But seem when I call
[code]
I got the response 'Error processing your OAuth request: Invalid oauth_verifier parameter: null'
Any help will be appreciated, thank you.

[2015-12-20 04:43] jublo commented on #113
What about this parsing function?

[code]

[2015-12-20 05:11] nguyenhose commented on #113
hi @jublo , thank you for answer my question but my problem is after get oauth_verifier from url, I can't get access token with 'oauth_accessToken' function

[2015-12-20 10:27] jublo commented on #113
@nguyenhose In your code, somehow the property `parameters.oauth_verifier` is not set. So, my code sample changes how the verifier is extracted from the query string parameters. Kindly give it a try and tell me the result.

[2015-12-20 10:39] nguyenhose commented on #113
@jublo I did a try with your code with make sure it get 'oauth_verifier', and I received reply value on response :
[code]

[2015-12-24 13:05] jublo commented on #113
@nguyenhose This seems to be an upstream issue with the Twitter API. Also, you received an error message in German. Can you please retry to see if the error persists?

[2015-12-29 17:36] nguyenhose commented on #113
Well, I always receive error message in German. I used PIN method for temporary.

[2015-12-30 22:32] mynameisadrian opened #114 "Uploading Video"
I looked through the documentation and cannot see any reference to uploading video, only images.

Looks like it is supported in the PHP version as it's in the documentation.

Is it possible using this version?

[2015-12-31 09:45] jublo commented on #114
Hi Adrian, thank you for your question.

We are still working on supporting video uploads with codebird-js. Codebird-PHP 3.0 is released on January 1, after which we’ll focus on porting relevant features to codebird-js 3.0.

I will update this issue as soon as I know more!

Does this help you?

[2015-12-31 10:19] mynameisadrian commented on #114
Thanks for replying so quickly...

After a bit of fiddling I got it to work with the current version :)

Below is a Gist on the steps (using node and async.waterfall on aws lambda just so you know the syntax). I took the ideas of how to do it from the php version.

https://gist.github.com/mynameisadrian/3f56d96ec8fd4370f181

Seems to work really nicely and exactly what i needed!

Adrian

[2015-12-31 14:36] jublo commented on #114
Well, that’s about it, you’re right!

Would you like to draft up a section in the README file on how to achieve this?
Please follow the layout used in the current JS README and the chapter order like here:

https://github.com/jublonet/codebird-php/blob/1e9cc65284ecd99d425fdf1cdf644788824677cc/README.md#video-files

Please note that this README differs from the current PHP README in `master`, since

[2016-01-01 21:22] jublo commented on #113
@nguyenhose This does not seem to be anything related to Codebird itself. Please post your issue in the [Twitter Community Forums](https://twittercommunity.com/c/rest-api).

[2016-01-01 21:22] #113 closed

[2016-01-01 21:30] jublo commented on #25
https://github.com/spion/blue-tape

[2016-01-04 14:10] mynameisadrian commented on #114
Happy New Year!

I have drafted an update to the README file, how would you like me to send it to you?

[2016-01-04 17:57] jublo commented on #114
How about sending a Pull Request?

[2016-01-17 07:22] Vhati commented on #26
It may be helpful to have the readme explicitly say all parameters should be strings.

I was grappling with the mysterious "Could not authenticate you" error for a while before realizing this.
true != "true"

I added quotes, and my call to blocks_ids worked.

[2016-01-17 07:24] Vhati commented on #26
From the commits, I gather "err.error" is for codebird exceptions, not present in 2.6.0.

The readme could benefit from an example simultaneously handling Twitter's "reply.errors[0].message" as well.

[2016-01-17 07:29] Vhati opened #115 "Rate limit values are null"
I'm using codebird 2.6.0 within an extension for Chrome 47.0.2526.106.

My method callbacks keep getting passed rate={limit:null, remaining:null, reset:null}.

At a glance, it seems that xml.getResponseHeader() isn't working.
Where xml = new window.XMLHttpRequest();

Something to do with origin policy?
http://stackoverflow.com/questions/7462968/restrictions-of-xmlhttprequests-getresponseheader

[2016-01-17 17:54] Vhati commented on #115
I just inspected the network traffic in Chrome...

Request URL: https://api.jublo.net/codebird/1.1/account/verify_credentials.json

Relevant Response Headers...
Access-Control-Allow-Methods: POST, GET, OPTIONS
Access-Control-Allow-Origin: *
Access-Control-Expose-Headers: X-Rate-Limit-Limit, X-Rate-Limit-Remaining, X-Rate-Limit-Reset
x-rate-limit-limit: 15
x-rate-limit-remaining: 14
x-rate-limit-re

[2016-01-18 10:12] jublo commented on #115
@Vhati The rate-limiting headers are important for users, yes.

Would you mind trying out the latest codebird.js from `develop` branch and see if it does anything better?
Can you provide a sample code that reproducibly returns `null` rate-limiting fields?

Thanks for helping to resolve this!

[2016-01-18 17:03] Vhati commented on #115
Ah, I see what happened.

If non-string params are passed to codebird calls, it will break oauth.
Twitter won't send limit headers (callback will see a dict of null values).
There will be a reply, but one which includes an errors list.

Maybe codebird should test for that and throw an exception preemptively?

The following sample will demonstrate this in v2.6.0.
[test_null_limits.txt](https://gith

[2016-01-19 19:01] jublo commented on #115
@Vhati Thanks for analysing that! Can you give me some samples of non-string parameters you tested & fails?

[2016-02-08 00:04] Vhati commented on #115
Sorry about the delay, I had some hardware failures and projects distracting me.  ; )

There are only string, number, and boolean, right?

* Unquoted booleans fail - true and false - as shown in the code I linked above (friends/ids: stringify_ids).
* Unquoted numbers are okay. Both integers and floats (geo/search: max_results and latitude).

[2016-02-08 18:08] Vhati commented on #115
On a related note, the "blocks/create" and "blocks/destroy" endpoints do not include rate headers in their response, even when successful.

And "application/rate_limit_status" only reports "blocks/ids" and "blocks/list".

The API docs say they *should* be limited.
https://dev.twitter.com/rest/reference/post/blocks/create
https://dev.twitter.com/rest/reference/post/blocks/destroy

[2016-02-08 19:02] Vhati commented on #115
Okay, it seems "blocks/create" and "blocks/destroy" are unlimited.

In BlockTogether's source, actions.js says on [line 74](https://github.com/jsha/blocktogether/blob/7a19c7761022e585fc46d04ff443aba28b394bb4/actions.js#L74) ...

So a null rate can occur either on an oauth error OR endpoints which happen to have no limit.

[2016-02-08 20:37] jublo commented on #115
Hello @Vhati,

Please also refer to the chart you find here: https://dev.twitter.com/rest/public/rate-limits.
Does this help you?

[2016-02-08 20:38] jublo commented on #115
@Vhati Summarising, only this needs fixing?

* Unquoted numbers are okay. Both integers and floats (geo/search: max_results and latitude).

[2016-02-08 22:57] Vhati commented on #115
Right, booleans are the problem. It could be framed either as a type coercion bug in codebird or a doc issue about quote necessity - depending on whether your policy is to coerce types or expect all strings.

A doc warning that null rates are possible, for unlimited endpoints, would be nice.

.

Actually that chart is incomplete.
The "blocks/ids" endpoint IS limited but not listed.

However, that

[2016-02-25 04:32] jublo opened #116 "Update oembed API method endpoint"
Update any affected code to request and decode a JSON response instead:
https://publish.twitter.com/oembed?url=https%3A%2F%2Ftwitter.com%2Fjack%2Fstatus%2F20

Must be done before 1 May 2016.

-------
Ported from https://github.com/jublonet/codebird-php/issues/161

[2016-02-25 04:41] jublo opened #117 "Cannot read property '_url' of undefined"
Uncaught TypeError: Cannot read property '_url' of undefined

    Line: 1013

[code]

------
Ported from e-mail sent by @err4o4.

[2016-02-27 18:29] jublo commented on #115
@Vhati The rate limits table is definitely not complete due to the write limits not being defined there, they are per account. Twitter doesn’t document the block limit.

[2016-03-08 19:37] aelallam commented on #117
Hello @jublo , did you figure this out?

[2016-03-08 20:17] jublo commented on #117
Not yet, @aelallam. Will look into this soon—promised!

[2016-03-09 19:20] aelallam commented on #117
Thank you @jublo ! Will be waiting :) Can you notify when it is resolved, I am using this in a project!

[2016-03-09 19:25] jublo commented on #117
Yes, I can! Just subscribe to this topic.

[2016-03-11 17:57] KISS commented on #117
I'm getting the same issue with app-only auth.

[code]

Sample code:

[code]

[2016-03-12 06:19] ryankicks commented on #117
Seeing same with latest as well. using access_tokens

[2016-03-13 16:03] #117 closed

[2016-03-21 16:24] JonathanXXI opened #119 "Getting Bad Request 400"
I'm new to your Library, but I'm following steps as described on readme, but the issue is that I'm getting this error

 on console. I have checked I'm inputting correctly Consumer API Key and Secret, what could I do?

[2016-03-25 19:29] jublo commented on #119
Hi Jonathan, which Codebird version are you using?

[2016-03-29 13:26] jublo commented on #119
@JonathanXXI David, please follow up on this issue.

[2016-03-29 13:38] JonathanXXI commented on #119
Sorry didn't get last notification, I've downloaded zip from this repository version 3.0.0-dev

[2016-03-29 13:44] jublo commented on #119
Can you please post a complete sample code (leaving out the keys and secrets) up to the error?

[2016-03-29 14:03] JonathanXXI commented on #119
Well this is like the example, I can't get passed from here

[code]

[2016-04-05 03:39] beebee1987 commented on #119
Hi, is that any updated solutions? Im new to this library as well but I facing the same issue, hope to see is that any updated solution.

[2016-05-05 10:58] jaegerbombb opened #120 "How do I pass to and execute a callback within a cb.__call?"
This is a beginner's javascript question. I'm struggling to understand how to call a function (functionA) outside of cb.__call, inside a cb.__call function?

[2016-05-05 13:40] #120 closed

[2016-05-05 13:40] jaegerbombb commented on #120
Resolved

[2016-05-26 11:20] shabin-slr opened #121 "outh_timestamp is empty"
the _time function isn't returning anything, so the outh_timestamp field is empty in Auth Header

[2016-05-29 21:51] aelallam opened #122 "215: "Bad Authentication data.""
I am using the latest version of codebird. I have followed all the steps, however I still cant update my timeline. This is my code:

[code]

The reply is as follows:
`Object {errors: Array[1], httpstatus: 200}
errors
:
Array[1]
0
:
Object
code
:
215
message
:
"Bad Authentication data."
__proto__
:
Object
length
:
1
__proto__
:
Array[0]
httpstatus
:
200
__proto__
:
Object`
My keys and tokens match.

[2016-06-08 08:52] emanton commented on #122
I have this problem too..., help someone plz )

[2016-06-27 21:27] rsflow commented on #122
I am having the same issue!

[2016-07-08 09:00] Dimigergo commented on #122
I have the same issue. :(

[2016-07-08 09:01] Dimigergo commented on #119
I have the same issue with the code above. (example code is the same)

[2016-07-08 12:49] isteven commented on #122
Hi,

Unfortunately I also have the same issue. The code is similar with the OP's

[code]

[2016-07-11 20:01] JonathanXXI commented on #119
I switched to server side OAuth with PHP, and had to configure it to use proxy. My guess its that my previous workplace proxy blocked connections to jublo's API, I will try this again on a project using React, but try porting code to another computer out of proxy network.

[2016-08-12 05:38] davidcalhoun opened #123 "Webpack issue: "require function is used in a way in which dependencies cannot be statically extracted""
Full error:
./~/codebird/codebird.js
Critical dependencies:
1238:15-22 require function is used in a way in which dependencies cannot be statically extracted
 @ ./~/codebird/codebird.js 1238:15-22

Looks like it's actually complaining about this line: https://github.com/jublonet/codebird-js/blob/develop/codebird.js#L550

[2016-08-15 09:54] idl-asad commented on #122
Hi,
I was also facing same issue, but it starts working after I added true as fourth parameter.

[code]

[2016-08-18 06:54] JulienLeal opened #124 "Uploading media to Twitter"
Hi, when I uploaded media to twitter, my response is

[code]

follow my code

First I call the function LoginTwitter

[code]

Then, I show this popup.

[code]

 When the user get the pin, he copy and paste in dialog, and send, calling the pinPost method

[code]

I don't understand why this error appear to me. The stranger is I can post status. I tested it. I even commented this part of post status

[2016-08-21 13:12] jublo commented on #124
Are the data base-64?

[2016-08-25 01:05] blamejen commented on #123
having a same issue. Can it be fixed?

[2016-08-27 17:12] jublo commented on #124
@JulienLeal What does `dataURItoBlob($("#meme").memeGenerator("save")` return?

[2016-08-27 17:15] jublo commented on #123
Hi @davidcalhoun and @blamejen:

* What Webpack version are you using (1.10.x or 2.x)?
* Please tell us about your environment:
OSX 10.x / Linux / Windows 10

[2016-08-27 17:18] jublo commented on #122
@idl-asad Your solution works for `search/tweets`, since this method supports app-only auth, but it won't work for `statuses/update`.

@aelallam @emanton @aiflow @Dimigergo @isteven Could you please post a dump of the outgoing request—using Developer Tools?

@isteven The consumer key and secret identify your Twitter app—get them at apps.twitter.com. The access token and secret, on the other hand,

[2016-08-27 17:20] jublo commented on #121
@shabin-slr Thanks for your bug report and the fix in #125!

[2016-08-27 17:20] #121 closed

[2016-08-27 17:21] jublo commented on #119
@JonathanXXI Has this error appeared recently?

[2016-08-27 17:27] davidcalhoun commented on #123
Webpack version: 1.13.1
Environment: OSX 10.11.6

Thanks for your help!

[2016-08-27 17:34] #116 closed

[2016-08-27 17:55] jublo commented on #115
@Vhati I just tested this in Codebird 3.0.0-dev, and it works properly there.

[2016-08-27 17:55] #115 closed

[2016-08-27 17:56] jublo commented on #114
@mynameisadrian Can you send a Pull Request for your fine how-to? :)

[2016-08-27 17:57] jublo commented on #26
@Vhati In Codebird 3.0, unquoted boolean values should work properly.

[2016-08-27 17:57] #26 closed

[2016-08-29 03:51] JulienLeal commented on #124
dataURItoBlob return a media.I get the base64  and transform it in media. I do it because I use the same method in facebook. I know that twitter accept base64.
Sorry for my late, I was in Brazil JS Conference's and doesn't see github in last days

[2016-08-29 12:41] jublo commented on #124
@JulienLeal Thanks for your reply. We'll take a look at base64-encoded media uploads. Can you send me a sample string that dataURItoBlob returns?

[2016-08-31 15:19] JulienLeal commented on #124
''' "media_data": dataURItoBlob($("#meme").memeGenerator("save"))'''
dataURItoBlob returns a Blob with type of media.
$("#meme").memeGenerator("save") return a base64.

[2016-08-31 18:34] jublo commented on #124
`media_data` does not accept blobs, but accepts Base64-encoded data directly.
In the end, your code must be equivalent to this text:

    "media_data": "R0lGODlhPQBEAPeoAJosM//AwO/AwHVYZ/z595kzAP/s..."

Please note that the data URI headers are to be omitted.

Can you [try this version of codebird.js](https://github.com/jublonet/codebird-js/blob/c19ef95d8363afef63a82a000502e8de47762571/codebird.js

[2016-09-05 17:06] #123 closed

[2016-09-05 17:07] jublo commented on #123
@davidcalhoun Would you mind re-testing with this commit, please?

[2016-09-06 04:06] davidcalhoun commented on #123
Thanks!  I just cherry-picked from that commit and that error no longer pops up!  :)

I'm getting some different errors now about it not being able to resolve some modules (xmlhttprequest, rsvp, when).  Looks like they need to be added to codebird's package.json?

Thanks a ton for your help!

[2016-09-06 06:21] jublo commented on #123
Codebird tries to make intelligent guesses as to which libraries are available on the system. In the `package.json` file, the `xmlhttprequest` package is listed in the `devDependencies` section. However, regarding `rsvp` and `when`: The `package.json` lists `q`, so when `q` is installed, you won’t need `rsvp` or `when`.

[code]

[code]

[2016-09-06 18:12] davidcalhoun commented on #123
Cool, that makes sense.  I think it's some strange thing Webpack is doing, looking at code paths that should never execute.

In any case, I think the original problem is solved.  Thanks again!

[2016-09-06 18:12] jublo commented on #123
You're welcome, David!

[2016-11-01 22:46] davidcalhoun opened #126 "New release?"
Looks like the last release to npm was a few years back.  Would be great to get a new release pushed!

Thanks in advance.

[2016-11-02 08:20] jublo commented on #126
Hi David, thanks for pinging. We’re still working on the next version of Codebird. I’ll push it up on our list! :)

[2016-11-02 18:17] davidcalhoun commented on #126
Great, sounds good.  Thanks!

[2016-11-07 03:02] ADavidLiu opened #127 "404 (Bad Request) when trying to upload media"
I'm getting this error: `POST https://api.jublo.net/codebird/1.1/media/upload.json 400 (Bad Request)` when following the first step of the example code for uploading images. According to the Twitter docs (https://dev.twitter.com/rest/media/uploading-media):

I tried adding that as part of the header but it still doesn't work. I am sure I'm correctly enconding the image as base64 because if I print

[2016-11-07 07:52] jublo commented on #127
Would you mind posting the start of your request (ommitting your keys and the large part of your image data), please?

[2016-11-08 19:25] ADavidLiu commented on #127
I'm using AngularJS 2 so in `index.html` I add the following after the opening `body` tag:

[code]

And then in a `component` I created a function that executes the following:

[code]

[2016-11-08 22:04] jublo commented on #127
Hi @ADavidLiu, I don't think you need the separate Base64 header.

Does this work?

[code]

[2016-11-10 12:39] walkerdanny commented on #122
Hi,

I've just run in to this issue myself - has anyone found a workaround for `statuses/update` and `media/upload` yet?

[2016-11-12 18:47] ADavidLiu commented on #127
Still not working. I'm getting the same error.

[2016-11-21 11:53] ahanriat commented on #22
Looks like it is now well supported 👀  🆙

[2016-11-24 17:02] farcas commented on #127
I have the same problem:
`var cb = new Codebird;

        //identificación
        cb.setConsumerKey("xxx", "xxx");
        cb.setToken("xxx", "xxx");
        var mediaid = "";
        var img64 = img.toDataURL().split(",")[1];
        var params = {
            "media_data": img64
        };

        cb.__call(
            "media_upload",
            params,
            function (reply, rate, err

[2016-12-28 11:20] stormbreakers commented on #127
@farcas

you are right it is failing with 3 version but working well with 2.6
was breaking my head over it for a while, thanks for your help.

[2017-01-17 18:50] stevengoldberg opened #128 "Posting replies only showing up as replies intermittently?"
I'm using codebird to build a Chrome extension that can automatically reply to tweets.

The `status` in my POST payload includes the username that I'm replying to, and I'm sending an `in_reply_to_status_id` key with the `id_str` of the tweet I'm replying to.

The tweets are being posted successfully. However, the tweets only seem to appear as threaded replies on my timeline intermittently -- other

[2017-01-21 10:26] pratu103 opened #129 "after login asking redirect to authorize page."
after login asking redirect to  https://api.twitter.com/oauth/authorize .there show PIN. then what to do cont understanding.
    $('#auth').click(function(e) {
cb.__call(
    "oauth_requestToken",
    {oauth_callback: "oob"},
    function (reply,rate,err) {
        if (err) {
            console.log("error response or timeout exceeded" + err.error);
        }
        if (reply) {
            // st

[2017-01-22 12:47] jublo commented on #119
Closing this issue due to no further reply.

[2017-01-22 12:47] #119 closed

[2017-01-22 12:48] jublo commented on #122
@walkerdanny Can you please post the values you try to Tweet, so we could take a look and reproduce the issue?

[2017-01-22 12:49] jublo commented on #124
@JulienLeal Have you had a chance to take a look at our post?

https://github.com/jublonet/codebird-js/issues/124#issuecomment-243858485

[2017-01-22 12:51] jublo commented on #126
Hi @davidcalhoun, we’re now catching up with pending issues and features. Things get 🚗 again!

[2017-01-22 12:52] jublo commented on #127
@stormbreakers @farcas Can you please link me to a sample image or a complete code so we can reproduce this issue in order to fix it?

[2017-01-22 12:53] jublo commented on #128
@stevengoldberg Have you found any additional information on this issue yet?

[2017-01-22 12:55] jublo commented on #129
tl;dr:
Your application must allow the user to input this PIN to complete the flow. The PIN code must be passed as the value for oauth_verifier for the POST oauth/access_token request.

----

https://dev.twitter.com/oauth/reference/post/oauth/access_token

Hope this helps? :)

[2017-01-22 12:56] jublo commented on #22
@ahanriat Can you post a sample please?

[2017-01-23 09:00] ahanriat commented on #22
@jublo Sorry I think my message was a bit ambiguous, I was talking about the websocket support, nnd it is now well supported http://caniuse.com/#feat=websockets 😃

[2017-01-31 19:11] stevengoldberg commented on #128
Hey, never got any real concrete info on what was causing it, but I'm nearly certain it had to do with Twitter -- possibly some overly aggressive spam filtering on their end. Feel free to close this issue.

[2017-02-01 16:45] mdeprezzo opened #130 "Authenticating using a callback URL, without PIN problem"
Hi guys,
i'm using codebird-js for an app build with F7 and Vuejs and Phonegap. I'm using the authentication on the title, but when i make the call to "oauth_authorize", the return URL doesn't have any **oauth_verifier**. Am i missing something ?

[2017-02-01 20:43] mdeprezzo commented on #130
The problem was in callback url that i had setted.

[2017-02-01 20:43] #130 closed

[2017-02-06 19:31] #128 closed

[2017-02-06 19:32] jublo commented on #128
@stevengoldberg Thanks for your feedback though. Much appreciated!

[2017-02-13 13:25] zGrav commented on #124
@jublo can confirm that doesn't work.

[2017-03-15 17:28] Pomax opened #131 "is this a general purpose library?"
from the README it looks like this is supposed to be a general purpose library, but when I run it it tries to call jublonet, which suggests that either it's not, or it is but it phones home, which means this isn't secure.

[2017-03-16 15:22] MiguelDebruyne commented on #120
@jaegerbombb Please **always** provide the solution if you answer your own question so other people who are having the same question as you have an answer as well.

[2017-03-16 15:52] MiguelDebruyne commented on #130
@mdeprezzo Care to elaborate further how you fixed it? I'm having problems as well. Your answer could have been of help. Please, always do that when you solve your own question

[2017-03-16 15:55] mdeprezzo commented on #130
Sure, later i'll post my solution

[2017-03-17 09:52] MiguelDebruyne opened #132 "Authentication in popup but return url to parent window after action"
When trying to authenticate a request token via `oauth_authorize` or `oauth_authenticate` a popup /new tab comes up for the user to confirm or decline. Problem is when the user does an action the app redirects the user back to the site on that same popup/tab. I need it to self close and return the url.

Problem is by creating a new window you lose the window pointer because the window redirects it

[2017-03-26 21:03] grrrero commented on #127
Hi, I am getting the same error, but what was mentioned regarding this working in version 2.6 and not 3?

[2017-03-28 14:20] MiguelDebruyne commented on #132
Yeah, probably my bad. I think the problem was because of the callback url. I was using localhost while I should have been using 127.0.0.1 as I have set in my Twitter app settings.

When Twitter redirects back to my app in the popup window I'm able to grab that window again in JS and close it.

[2017-03-28 17:51] grrrero commented on #127
@farcas I am interested to know how you got the posting of the image to the tweet to work... I tried what you did and I get an error with img.todataURL().

[2017-05-02 06:37] apatharraj commented on #113
Hi Jublo

i Getting without pin method getting unauthorized error message only. So please share your working code.

[2017-05-02 12:33] apatharraj commented on #130
HI mdeprezzo ,

Please post your working code

[2017-05-03 05:20] apatharraj opened #133 "Access_token Api Token unauthorised"
Hi,

I am using codebird without pin oauth method. After Login redirect my app and get unauthorised error but i send correct oauth_verifier but getting error in german language. I attached reference screenshot

![image](https://cloud.githubusercontent.com/assets/26374832/25648872/fcb63c32-2fed-11e7-94a3-3c95a2007b60.png)

[2017-05-03 06:51] #133 closed

[2017-06-29 19:30] jublo commented on #132
So your issue is resolved?

[2017-06-29 19:35] jublo commented on #131
## API calls and the same-origin policy

Normally, browsers only allow requests being sent to addresses that are on the same base domain.  This is a security feature called the “same-origin policy.”  However, this policy is in your way when you try to access the (remote) Twitter API domain and its methods.

### Cross-domain requests

With Codebird, don’t worry about this.  We automatically send cr

[2017-06-29 19:36] #129 closed

[2017-06-29 19:37] jublo commented on #127
@stormbreakers @farcas @grrrero Can you please link us to a sample code you are using that is supposed to work but does not work actually, along with its version?

[2017-06-29 19:48] Pomax commented on #131
I'm... not sure how to interpret this reply? If this is text you want me to read, then the best rule of thumb is "don't answer people. Write the answer in the readme, and tell people where in the readme you answered their question" so that you don't waste time writing answers twice, and the information isn't lost simply because it was a comment in an issue, which no one will be able to find every

[2017-06-29 20:48] jublo commented on #131
@Pomax Thank you for your reply. In fact the answer I had posted as from the easily accessible README file you mentioned. Find the original here: https://github.com/jublonet/codebird-js#api-calls-and-the-same-origin-policy

In short, the Twitter API cannot be accessed directly due to security measures implemented in browsers, and Twitter does not set the required headers to their replies to allow

[2017-06-29 20:48] joshuaatkins commented on #131
The answer to your question, is yes it is general use. But as stated in the readme, twitter does not support CORS requests. As a result, this library proxies requests securely though our servers. However, we also have released the code that runs our proxy to vet and host your own proxy.

The purpose of the proxy is to implement the CORS headers as a middle man.

Although, we appreciate your sass.

[2017-06-29 20:48] #131 closed

[2017-06-29 21:27] Pomax commented on #131
no sass intended, just genuine confusion =)

[2017-07-10 07:44] mariyappan88 opened #134 "Getting unauthorized, when call cb.__call("oauth_accessToken""
Getting unauthorized,
when call cb.__call("oauth_accessToken", {
                            oauth_verifier: current_val3[1]
                        },function (reply, rate, err) {
}
When access from localhost, getting this error, Anyone aware of this? Advance thanks.

[2017-07-10 12:27] #134 closed

[2017-07-30 10:17] superjoefly opened #135 ""oauth2_token" Call Returning : Object {httpstatus: 0}"
The following call to the Twitter API is returning: Object {httpstatus: 0};
[code]

Anyone know what could be causing this?

Thanks :-)

[2017-07-30 16:03] paultibbert commented on #135
I'm seeing wait timeouts on the oauth2_token unless I put the timeout over 2 minutes....

[2017-07-30 20:41] superjoefly commented on #135
I'm also getting this response on a simple search call:

[code]
I wonder if it has something to do with the proxy.
I'm almost finished with my project...hopefully we can get this fixed soon :-)

[2017-07-31 02:58] paultibbert commented on #135
I think it's the proxy server. I left a support message for jublo.net in any case.

[2017-07-31 05:51] superjoefly commented on #135
I left a support message too... I'll post back when I hear from them.

[2017-07-31 10:31] joshuaatkins commented on #135
Hi All,

We are currently investigating this and will post an update.

Thanks,

Josh

[2017-07-31 13:54] Mindbowser opened #136 "Bad Gateway"
We are getting Bad Gateway error since couple of days, please let us know how to solve it.

[2017-07-31 14:32] jeverd01 commented on #136
I believe the proxy is broken see the ticket I just created - https://github.com/jublonet/codebird-cors-proxy/issues/8

[2017-07-31 16:11] joshuaatkins commented on #136
Hi @Mindbowser,

Thanks for reporting! We now appear to have brought the API to some stability. Although we will monitor over the next 48 hours.

Josh

[2017-07-31 16:11] #136 closed

[2017-07-31 17:35] gaut7 commented on #135
I also get same issue whenever i was searching for "statuses_homeTimeline"

[2017-07-31 23:13] superjoefly opened #137 "GET Request Response Headers Not Loading"
This is in relation to the **Object {httpstatus: 0}** response.

When I make a call using the following code, it seems that the response headers aren't loading and I'm still getting the response mentioned above.

[code]
In Firefox Dev Tools, I'm looking at **Net / Get / Response headers** and there is a loading spinner that just keeps spinning. Is this the related to the {httpresponse: 0}?

Basica

[2017-08-01 03:32] Mindbowser commented on #135
Issue still persists, we are still getting it, any idea?

[2017-08-01 14:03] xasse commented on #137
I got the same behaviour for:
cb.__call("oauth_requestToken", { oauth_callback: redirectUri }, function(reply) {
console.log(reply);
});

[2017-08-01 21:40] wadedwalker commented on #137
Same here. Getting "Object {httpstatus: 0}".

Using:

cb.__call("oauth2_token", {}, function(reply) {
	var bearer_token = reply.access_token;
	cb.setBearerToken(bearer_token);
});
cb.__call("search_tweets", hashtagParams, twitterHashtagCallback, true);

The above code has been working for 7 or 8 months and just quit working today or late yesterday.

[2017-08-02 07:33] pjazdzewski1990 commented on #137
The same for me.
In general, I see that doing `curl 'https://api.jublo.net/codebird/oauth2/token' ...` succeeds, but after a long wait (~ 1 minute). Which most probably causes JS code to timeout and fail.

Dear Jublo team, any predictions on what is the issue and when could this be resolved? Maybe that's just a matter of restarting the server? If this is a bigger thing, I (and other probably as we

[2017-08-03 00:51] superjoefly commented on #122
I, too, am getting Bad Authentication data using the following curl command:

curl https://api.jublo.net/codebird/1.1/search/tweets.json?q=cats

response is:

{"errors":[{"code":215,"message":"Bad Authentication data."}]}

[2017-08-03 13:38] joshuaatkins commented on #137
Hi guys,

We've have made (considerable) changes to our infrastructure.
Can you confirm if this has made the improvements required?

Thanks,

Josh

[2017-08-03 13:52] wadedwalker commented on #137
Sometimes it works, sometimes it doesn't. When it does work, I am seeing a few errors in console:

x2 POST https://api.jublo.net/codebird/oauth2/token 502 (Bad Gateway)
XMLHttpRequest cannot load https://api.jublo.net/codebird/oauth2/token. No 'Access-Control-Allow-Origin' header is present on the requested resource.
XHR failed loading: POST "https://api.jublo.net/codebird/oauth2/token".
Uncaught

[2017-08-03 13:53] joshuaatkins commented on #137
Hi @wadedwalker, Can you confirm the IP 'api.jublo.net' resolves to?

[2017-08-03 13:59] pjazdzewski1990 commented on #137
@joshuaatkins My personal use case has been fixed. Thank you

[2017-08-03 14:01] wadedwalker commented on #137
@joshuaatkins Pinging that address gives me "213.202.223.28". When I visit the URL in the browser (Windows Chrome 59.0.3071.115, no active plugins or apps), I get 502 Bad Gateway. If I go to the IP address directly, I get 404. Is that what you were wanting to know?

[2017-08-03 14:05] wadedwalker commented on #137
@joshuaatkins I have been performing several refreshes since you replied so quickly and it I haven't had any more failures to load. Maybe a temp goof after your fix?

[2017-08-03 14:08] joshuaatkins commented on #137
@wadedwalker hopefully! Do let me know if you run into any other issues.

[2017-08-03 14:08] wadedwalker commented on #137
@joshuaatkins Roger roger

[2017-08-03 22:19] superjoefly commented on #137
I can confirm a response of {httpstatus: 200} on the "search_tweets" call mentioned above, but I haven't tested any of the other calls yet.

Great going! :-)

[2017-08-05 05:05] superjoefly commented on #137
The following calls: 'statuses_update' , 'search_tweets', 'oauth_requestToken', 'statuses_homeTimeline', and 'oauth_accessToken' all are working for me.

Will update if I have any more issues...

Thanks :-)

[2017-08-13 08:48] superjoefly commented on #137
I'm getting timeouts {httpstatus: 0} on all my calls again, just to let you know.
Making changes to the infrastructure again?

[2017-08-16 16:27] Hypocrite commented on #135
I am also still experiencing this issue with social-feed (https://github.com/pavelk2/social-feed/issues/268). Tried to upgrade Codebird but it does allow access to https://api.jublo.net/codebird/oauth2/token. Chrome says that is fails to load response data from the address.

[2017-08-17 01:06] derekyangsolvay commented on #90
@jublo   it seems the 502 error coming back,  any idea?   thanks

[2017-08-19 10:05] jublo commented on #90
Can you test again, @derekyangsolvay ?

[2017-08-19 10:05] #137 closed

[2017-08-19 10:05] #122 closed

[2017-08-21 01:26] derekyangsolvay commented on #90
Yes, it working now,  thanks!

[2017-08-21 11:24] yvg commented on #127
Same issue here, I've switched to 2.6 to try this out. And while it does work when you try to upload a small image, less than 1k, it does not work for bigger images.
When I try to upload a 500k image, I get authentication errors.

I'm also unable to make it work with the `media` param, I suppose this is due to the lib not handling it as a form…

[2017-08-24 07:25] superjoefly commented on #127
I've also been getting a 400 error while trying to upload media:
**POST  400 (Bad Request)**

Here is the code I'm using for image conversion:

[code]

And here is the cb call that I'm using:

[code]

Let me know if there's anything I can do to help debug :-)

[2017-08-25 07:03] superjoefly opened #138 "Uploading Media: Code 220"
I'm creating a new issue because I think the other issues related to this haven't been getting responses lately.

I've been trying to upload media (small images) to Twitter, but the "media_upload" call has been producing an error:  **(code: 220, message: "Your credentials do not allow access to this resource.)**

This is the code I'm using to convert the image to base64:
[code]

And this is the co

[2017-08-30 15:06] mutiullah7 commented on #135
It's not working now, giving error
Failed to load resource: net::ERR_CONNECTION_TIMED_OUT        api.jublo.net/codebird/oauth2/token

[2017-08-30 15:24] HartLarsson commented on #135
confirmed! is not working

[2017-09-09 10:43] jublo commented on #135
Does it work in the meantime?

[2017-09-11 08:27] HartLarsson commented on #135
seems it is working again now.
Thanks

[2017-09-23 07:03] Hypocrite commented on #135
It seems that the Twitter authentication is not again working. https://api.jublo.net/codebird/oauth2/token is returning Connection timed out error.

[2017-09-30 10:41] Rjassion opened #139 "Your server crashed..."
Failed to load https://api.jublo.net/codebir   502 error

[2017-10-06 07:23] joshuaatkins commented on #139
@Rjassion, this is sorted and we are monitoring it.

For reliability, I suggest setting up your own api service using https://github.com/jublonet/codebird-cors-proxy as the api we provide is out of good will without guarantee.

[2017-10-06 07:23] #139 closed

[2017-10-13 23:54] TheGoose12 opened #140 "ERR_CONNECTION_TIMED_OUT https://api.jublo.net/codebird/oauth2/token"
Per this issue https://github.com/jublonet/codebird-js/issues/76
I wonder if I'm getting blocked because of usage?

Basically I'm test and I'm doing a display art project... so I'm bundling up about 20 lines of text then send it out a a batch of tweets...

Wondering if I'm getting blocked for to many attempts or something?

Error in console:
codebird.js:1492
OPTIONS https://api.jublo.net/codebird/

[2017-10-14 00:03] TheGoose12 commented on #140
Additionally I did look at this this test URL which is not loading for me:
https://api.jublo.net/codebird/1.1/help/test.json

I'm a noob on the firewall side of so if there is a setting I should be checking please let me know.

[2017-10-14 08:21] TheGoose12 commented on #140
Yeah... so looks like a rate limit thing.
I accidentally triggered a loop of a tons of tweets and I guess it killed the limit.

https://github.com/jublonet/codebird-js#dealing-with-rate-limits

[2017-10-14 08:21] #140 closed

[2017-12-07 08:53] SansCostard opened #141 "Caching messages"
Hi,

I'm using this wonderful library since few days now, and it seems like some results are cached.

I've deleted many messages from my twitter account, still, when i'm calling direct_messages i still saw them.
I've deleted them 10 days ago now, but they still appears in the json response.

Any ideas ?

Thanks

[2017-12-07 08:59] SansCostard commented on #141
Well, it seems like it's on the twitter api side.
Looks like you cannot delete sent messages, this is really weird :/

[2017-12-07 08:59] #141 closed

[2017-12-07 09:59] jublo commented on #141
@SansCostard Do they appear on twitter.com?

[2017-12-07 10:04] SansCostard commented on #141
No.

[2017-12-08 08:26] alanabi20 commented on #124
Guys, this is still not working. Does anyone got a change to check it out and finds a way to solve that?

[2017-12-08 08:53] alanabi20 commented on #127
I'm currently facing the same issue.

I'm using codebird **3.0.0-dev**

This is my code:
`document.getElementById("upload").addEventListener("change", function handleFileSelect(e){
	  var file = e.target.files[0];
	  var reader = new FileReader();
	  reader.onloadend = function() {
			var imgBase64 = reader.result.substr(reader.result.indexOf(',') + 1);
			INTEGRATION_TWITTER.UPLOAD_IMAGE(STORAGE.

[2017-12-08 09:01] alanabi20 commented on #127
I'm currently facing the same issue.

I'm using **codebird 3.0.0-dev**

I've attached sample of my code: [code.js.zip](https://github.com/jublonet/codebird-js/files/1542058/code.js.zip)

I'm getting the **media parameter is missing.** with **HTTP CODE 400**

Thanks,

[2017-12-09 07:37] mokoshalb opened #142 "Extended Tweet Mode?"
How do I get to set the tweet_mode to extended?

Thanks!

[2017-12-09 21:39] #142 closed

[2017-12-16 16:05] marcustisater commented on #135
same issue here, any updates regarding this?

[2017-12-20 20:18] VLZZZ commented on #135
Same issue

[2017-12-21 07:26] robicse11127 opened #143 "Uncaught TypeError: Cannot read property 'locale' of undefined"
How can I solve this problem?

[2017-12-21 13:49] freddurst1805 opened #144 "JS error : GET https://api.jublo.net/codebird/1.1/search/tweets.json?q=keyword&count=100 500 ()"
Hello,

Since today (or two days), the call to the API return me an error 500.
Can you explain me what's happening ?

Thank you in advance,

Fred

[2018-01-01 10:55] jublo commented on #124
@alanabi20 @zGrav Could you link us to a (non-) working live demo of this so we can debug it, please?

[2018-01-01 17:04] alanabi20 commented on #124
@jublo  I have figured out my issue. I used a proxy hosted on my server which was not accepting large data (e.g. image file) as part of the HTTP request.

I solved it by using Codebird proxy only!

[2018-01-01 19:06] jublo commented on #124
@alanabi20 Did you know? If your proxy is a PHP one, you can increase the settings `post_max_size` *and* `upload_max_filesize` and support larger uploads :)

https://secure.php.net/manual/ini.core.php

[2018-01-26 13:18] Maykonn opened #145 "account_verifyCredentials not returning email"
The response body of account_verifyCredentials is, don't have email:

[code]

[2018-01-26 13:28] joshuaatkins commented on #145
Do you request the user email address permission for your app? You can see more detail here: https://developer.twitter.com/en/docs/accounts-and-users/manage-account-settings/api-reference/get-account-verify_credentials

[2018-01-26 13:29] #144 closed

[2018-01-26 13:32] Maykonn commented on #145
Yes!

[2018-01-26 13:40] Maykonn commented on #145
Yes, is enabled:

![image](https://user-images.githubusercontent.com/1479805/35442218-94ac28ea-028d-11e8-8731-d6f5124749c4.png)

[2018-01-26 13:55] joshuaatkins commented on #145
I am not in the office at the moment, put what does your call look like?

I would suggest looking at something like the below;

[code]

[2018-01-26 14:11] Maykonn commented on #145
I think it resolve: `{"include_email": true}` thanks.
But now I'm getting this errors:

[code]

[2018-01-26 16:33] Maykonn commented on #145
With the `{"include_email": true}` option now is possible to retrieve user email
To solve the CORS issues I use the [Codebird Proxy](https://github.com/jublonet/codebird-cors-proxy), that make more sense to use.

Thanks @joshuaatkins

[2018-01-26 16:33] #145 closed

[2018-02-01 12:47] danvelcab opened #146 "No 'Access-Control-Allow-Origin' header is present"
Hi. I'm using codebird-js with pavelk2/social-feed and I get this error:

Failed to load https://api.jublo.net/codebird/oauth2/token: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://my-domain.es' is therefore not allowed access. The response had HTTP status code 502.

Can anybody help me?

[2018-02-01 15:00] svoltmer commented on #146
I receive the same error after the oauth2/token returns a 502 error.

Failed to load https://api.jublo.net/codebird/oauth2/token: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://www.rose-hulman.edu' is therefore not allowed access. The response had HTTP status code 502.

It was working yesterday, but for weeks it's taken at least a minute to validate t

[2018-02-01 17:10] svoltmer commented on #146
Now I am receiving this error:

Failed to load https://api.jublo.net/codebird/1.1/statuses/user_timeline.json?screen_name=RoseHulman&include_rts=true&exclude_replies=true&count=1&tweet_mode=extended: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://www.rose-hulman.edu' is therefore not all

[2018-02-01 17:32] chinna-magapu commented on #92
Hi @joshuaatkins ,
https://api.jublo.net/codebird/oauth/request_token is not reachable ,
 Previously it was working fine. but now when iam Trying to access https://api.jublo.net/codebird/oauth/request_token returns a 502 error.

[2018-02-02 13:54] svoltmer opened #147 "Request to api.jublo.net/codebird/oauth2/token always canceled"
For three days now our company Twitter feed through your proxy is failing when requesting https://api.jublo.net/codebird/oauth2/token. The request is always canceled. We have not changed anything on our end. Please look into this and reply back as soon as possible. Thanks!

[2018-02-02 16:32] vpaq commented on #92
I have the same problem than @chinna-magapu. Not reachable, and after few seconds it says: Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://api.jublo.net/codebird/oauth2/token. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).

[2018-02-02 16:33] vpaq commented on #92
Any help would be appreciated ❤️

[2018-02-02 17:40] jublo commented on #92
@vpaq We’re currently taking a look. If you want to, you can always run your own codebird proxy: https://github.com/jublonet/codebird-js#using-your-own-proxy-server

[2018-02-06 20:26] vpaq commented on #92
It seems to be fixed, thank you @jublo

[2018-02-15 14:20] AKhalil90 opened #148 "account_updateProfileBanner is not working"
Hi,

I'm trying to update the authenticated user profile banner using account/update_profile_banner twitter API like this:

`    var params = {
      "width": 1500,
      "height": 500,
      "offset_top": 0,
      "offset_left": 0,
      "banner": imageInBase64,
    };

    cb.__call("account_updateProfileBanner", params, function (reply, rate, err){
      console.log(err);
      console.log(repl

[2018-02-26 09:22] HarshaVardhanPVK commented on #146
Hi, any one of you got fix of this issue? It used to work fine for me too and suddenly start throwing `No 'Access-Control-Allow-Origin' header is present error` for me too.

[2018-02-26 09:24] jublo commented on #146
@HarshaVardhanPVK Hi there, what environment are you using – a browser?

[2018-02-26 09:32] HarshaVardhanPVK commented on #146
Yes @jublo through browser only I am trying to trigger

[2018-02-27 06:57] HarshaVardhanPVK commented on #146
@jublo, Do you guys have any fix on this issue?

[2018-02-28 16:03] jublo commented on #146
@HarshaVardhanPVK I will take a look at it this week and update you. :)

[2018-03-16 21:29] lbeas10 opened #149 "API is not working"
The https://api.jublo.net/codebird/ is not resolving :(

[2018-04-04 15:26] xcameleonx opened #150 "https://api.jublo.net/ not resolving."
https://api.jublo.net/ is returning 502 Bad Gateway and 525 SSL Handshake Failed errors. Opening in a browser simply shows the Cloudflare error page.

[2018-04-15 22:27] kjanjua26 opened #151 "Truncated Tweets Returned"
The  `  client.__call(
            "search_tweets",
            params,
            function (reply, rate, err) {})
` works fine except that it returns truncated tweets. I read online that a solution is to set `tweet_mode= extended` to the url. However, I am not able to do this here. Any solution how to do this?

[2018-04-16 07:32] jublo commented on #151
@kjanjua26 Try this:

[code]

Does that work?

[2018-04-16 09:41] tss123456 opened #152 "scheduled_publish_time"
how to set scheduled_publish_time for new tweet using codebird-js?

[2018-04-16 17:07] kjanjua26 commented on #151
Hey, yeah that works.
Thanks.

[2018-04-16 17:08] #151 closed

[2018-04-16 17:38] jublo commented on #152
@tss123456 Are you referring to the Twitter REST API or the Twitter Ads API

[2018-04-17 11:25] tss123456 opened #153 "tweet(post) video on twitter using codebird-js"
Is it possible to upload video clip using codebird-js? i have upload imgaes but i want now videos so is it possible? give me solution.

[2018-04-17 11:25] jublo commented on #152
@tss123456 Does that help you? I know TweetDeck has such a feature …

[2018-04-17 11:26] jublo commented on #153
@tss123456 For [codebird-php](https://github.com/jublonet/codebird-php), we do have support. We should look into supporting video uploads for the JS version as well :)

[2018-04-17 11:27] tss123456 commented on #152
Yes @jublo  that helps me.

[2018-04-17 17:53] #152 closed

[2018-04-18 08:42] tss123456 opened #154 "Could not authenticate you."
i am getting following error

code:32
message:"Could not authenticate you."

when i write code for append details for upload video on twitter using codebird-js

following code are we use for upload video

function TwitterPosting(message, image, Credential, priority, priorityDate, OnSuccess, onError) {
    var convertFunction = convertFileToDataURLviaFileReader(image, function (base64) {
        va

[2018-05-02 16:36] nicosuria commented on #135
Same issue.

[2018-05-03 03:36] derekyangsolvay commented on #90
Hello @jublo   it seems the 502 error is appearing again,  any idea?  thanks !!

[2018-05-03 15:19] rowangit commented on #146
Same issue today just out of the blue

[2018-05-04 13:56] #149 closed

[2018-05-04 13:56] joshuaatkins commented on #150
Hi @xcameleonx this should now have been resolved. Let me know if you have any further issues.

[2018-05-04 13:56] #150 closed

[2018-05-04 13:57] joshuaatkins commented on #147
Hi @svoltmer this should now have been resolved. Let me know if you have any further issues.

[2018-05-04 13:57] #147 closed

[2018-05-04 13:58] joshuaatkins commented on #146
Hi all, this should now have been resolved. Let me know if you have any further issues.

[2018-05-04 13:58] #146 closed

[2018-06-13 12:28] chinna-magapu opened #155 "api Url https://api.jublo.net/codebird/oauth/request_token is getting 403."
Hi I am using codebird-js for twitter authentication. It is working fine But now the below api url is getting 403 status. can any one please help me how to sort this.
https://api.jublo.net/codebird/oauth/request_token

[2018-06-14 19:58] goug0702 commented on #132
I met the same problem as you. Could you give me some hint on how to grab the window and close it? @MiguelDebruyne

[2018-06-29 16:02] aplaskota commented on #155
Hi, I have the same issue in my app. @chinna-magapu did you resolve it?

[2018-08-16 00:16] #124 closed

[2018-08-31 12:02] araskin opened #156 "Runtime error when parsing error response from Twitter"
In the _parseAPIReply there is a run time error when parsing an XML response from Twitter.
![pastedgraphic-1](https://user-images.githubusercontent.com/3648751/44911223-c360e780-aceb-11e8-85b2-0fd68c249382.png)

It seems that Twitter is responding slightly differently then what the RegEx is expecting and this is causing the call to match to return a null and not an array. Therefore the [1] causes

[2018-09-04 11:40] MiguelDebruyne commented on #132
@jublo Sorry didnt notice this, yes this is resolved.

@goug0702 It's been a while, but this was just plain Javascript window handling as far as I remember.

[2018-09-15 10:36] mynetx commented on #156
Hey @araskin, thanks for catching that! I’ll go and fix it right away. 😌

[2018-09-15 11:46] #156 closed, assigned to mynetx

[2018-09-15 11:49] mynetx commented on #156
@araskin Please test the version in https://github.com/jublonet/codebird-js/tree/405139e21ccee15777654eb0258159135ddda9aa – either codebird.es7.js or codebird.js, depending on your environment. Please let me know whether this works for you.

Here’s an example:

[code]

[2018-09-15 12:23] mynetx commented on #155
This could be related to Twitter being stricter with their callback URLs for oauth/request_token now. Please update your code to use Codebird 3.0.0 Beta 2: https://github.com/jublonet/codebird-js/tree/729325b

Let me know if this helps you.
You can find more information in #156.

[2018-09-15 12:24] mynetx commented on #148
@AKhalil90 What is the content of your `imageInBase64`?

[2018-09-15 12:26] mynetx commented on #143
@robicse11127 Can you please post your code and the context of where you get this error message?

[2018-09-15 12:31] mynetx commented on #138
@superjoefly Are you accessing media_upload using application-only auth or from within a user context on full OAuth with access token?

[2018-09-15 12:31] #132 closed

[2018-09-15 12:32] mynetx commented on #132
@MiguelDebruyne Thank you for getting back to me on this. Much appreciated! :)

[2018-09-15 12:33] mynetx commented on #126
@davidcalhoun If you want to, you may already test our beta version: https://github.com/jublonet/codebird-js/releases/tag/3.0.0-beta.2

Let me know what you think or if you encounter any problems or issues. :)

[2018-10-28 14:42] mynetx commented on #155
Closing due to no further replies.

[2018-10-28 14:42] #155 closed

[2018-10-28 14:43] mynetx commented on #148
@AKhalil90 Any update on this please?

[2018-10-28 14:43] mynetx commented on #143
Closing due to no further replies.

[2018-10-28 14:43] #143 closed

[2018-11-02 09:06] efegurkan07 opened #158 "Issue with "user/profile_banner""
when I try to call "user_profile_banner", it is covnerted to "user/profile/banner" where it should  be "user/profile_banner".

I guess it is same with every request which has underscore.

Error in render: "Can't find HTTP method to use for "users/profile/banner"."

[2018-11-02 11:06] mynetx commented on #158
@efegurkan07 Can you try to call `user_profileBanner` instead?

Please note this passage of the documentation:

Let me know if this helps :)

[2018-11-09 07:35] efegurkan07 commented on #158
Oh I didn't see that in the documentation :) It helps thanks!

[2018-11-09 12:24] mynetx commented on #158
@efegurkan07 You're welcome. :)

[2018-11-09 12:24] #158 closed, assigned to mynetx

[2019-01-25 07:28] iKomettech commented on #33
GET https://api.jublo.net/codebird/1.1/statuses/user_timeline.json?id=xxxx&count=4&tweet_mode=extended 404

[2019-01-25 07:29] iKomettech commented on #33
What is the solution for this issue @adityap-optimus

[2019-01-26 14:07] shaheryar1 opened #159 "Promises not working"
**TypeError: cb.__call(...).then is not a function**
    at router.get (C:\Users\EG\Desktop\NodeJs\_appitry-social-node\Twitter\TwitterRoutes.js:73:71)
    at Layer.handle [as handle_request] (C:\Users\EG\Desktop\NodeJs\_appitry-social-node\node_modules\express\lib\router\layer.js:95:5)
    at next (C:\Users\EG\Desktop\NodeJs\_appitry-social-node\node_modules\express\lib\router\route.js:137:13)

[2019-01-26 16:36] mynetx commented on #159
@shaheryar1 Please note that Codebird itself does not include nor provide any Promises library. Can you ensure to have loaded one of the supported libraries?

* jQuery Deferred
* Q
* RSVP
* when

You can find [more info here](https://github.com/jublo/codebird-js#use-promises-instead-of-callback-functions).

[2019-01-29 11:35] iKomettech opened #160 "404 Error for https://api.jublo.net/codebird/1.1/statuses/user_timeline.json"
https://api.jublo.net/codebird/1.1/statuses/user_timeline.json?id=XXXX&count=4&tweet_mode=extended

[2019-01-29 11:37] iKomettech commented on #33
What is the solution for this issue

[2019-01-29 11:38] iKomettech commented on #33
What is the solution for this issue

[2019-02-26 11:45] Coffee-Tea opened #161 "When 3.0.0-beta2 is gonna be merged to master and available on npm?"

[2019-02-26 12:31] mynetx commented on #161
@Coffee-Tea Thank you for your question. I will take a look at the required changes to be uptodate with the current Twitter API offering, and publish this version afterwards. That will be shortly after 1 March. Does that help you? :)

[2019-02-26 13:22] kushthakkar15 opened #162 "POST https://api.jublo.net/codebird/oauth/request_token 403"
I am getting this issue from today. Please help I have to resolve today.

[2019-02-27 15:16] Coffee-Tea commented on #161
@mynetx Honestly, not sure for now. Looks like it will not fix my issue.
Do we have created the following issue or smth similar:
- sometimes `request_token/` request returns errors (403, 502, 522) but sometimes it works successfully.

[2019-03-07 22:23] dkzeb opened #163 "[3.0.0-beta.1]"
First off - thx for the great work you've been doing on this project - very nice too see new releases :)

So, ive been playing around with v. 3 beta 2 and so far been enjoying it - just to clarify,
at issue #22 (which i realise is fairly old) there was talk about not supporting the twitter streaming api because of a lack of general support for websockets - will this feature be included in v. 3?

[2019-03-10 13:47] dkzeb opened #164 "Typings"
Just a suggestion after playing around with the beta.
With the upcomming 3.0 release - it would be nice to see TypeScript support and typings for codebird-js

[2019-03-13 12:28] svoltmer opened #165 "502 Error"
Been getting a 502 error when I call:
cb.__call(
    "oauth2_token",
    {},
    function (reply) {
        var bearer_token = reply.access_token;
        console.log(bearer_token);
    }
);

Can you look into this? It's been happening for a couple of days now.

[2019-03-21 18:41] svoltmer commented on #165
Now it is canceling all requests for oauth2 tokens at "https://api.jublo.net/codebird/oauth2/token"

[2019-03-22 16:02] svoltmer opened #166 "For two days all token request are canceled"
For two days now our Twitter feed through your proxy is failing when requesting https://api.jublo.net/codebird/oauth2/token.

The request for an oauth2 token is always canceled. We have not changed anything on our end. Please look into this and reply back as soon as possible. Thanks!

[2019-04-07 21:14] maxsym23 opened #167 "Getting timeout on all requests"
for at least two days getting timeout on all requests in previously working code.

Working in Javascript, demo version with keys input manually.
Error: Cross-origin request blocked.

[2019-04-11 08:38] ienjreny opened #168 "Access to XMLHttpRequest at 'https://api.jublo.net/codebird/oauth/request_token' from origin '' has been blocked by CORS policy 530"
Hello dears,
We got the following error (recently) when we try to use the library to take Twitter token

Access to XMLHttpRequest at 'https://api.jublo.net/codebird/oauth/request_token' from origin '' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-04-11 10:51] ahmed3la opened #169 "Facing Status Code: 502"
We are facing an issue when we try to call: https://api.jublo.net/codebird/oauth/request_token
Find request details in the below
-----------------------
Request URL: https://api.jublo.net/codebird/oauth/request_token
Request Method: POST
Status Code: 502
Remote Address: 104.27.243.178:443
Referrer Policy: no-referrer-when-downgrade

[2019-04-11 11:24] mynetx commented on #169
Hello Ahmed,

We’re currently undergoing maintenance work until Thursday.

In addition to the Codebird CORS proxy that we’re running, you’re also free to set up your own instance and use that one instead of ours.

You can find more information here:
* https://github.com/jublo/codebird-js#cross-domain-requests
* https://github.com/jublo/codebird-cors-proxy#requirements

Hope this helps?
Please let

[2019-06-23 04:54] Booligoosh opened #170 "DNS Error"
Hey! Looks like the proxy is down with a DNS error, it's been down now for a few days.
Just letting you know, and thanks for making this!

[2019-06-24 05:49] Tychoblood commented on #170
Same here for me, DNS error since Friday 21. Was working fine on thursday. Surely linked to their new website, being in maintenance mode ?

[2019-07-02 11:23] dtpniel commented on #170
Same issue here.
Any updates about the matter?
Thanks!

[2019-07-02 18:43] mynetx commented on #170
@dtpniel Please take a look here:
https://twitter.com/Cloudflare/status/1146086417971499010

[2019-07-03 12:20] dtpniel commented on #170
Thank you!
Is this issue supposed to be resolved?

[2019-07-09 09:54] ahmed3la commented on #169
Dear J.M. Rütter,
Please, we need your kind support to get over this issue
we are facing the previous issue, that issue returns after it resolved previously.
Thanks,

[2019-07-18 22:04] dubeyjags commented on #146
Access to XMLHttpRequest at 'https://api.jublo.net/codebird/oauth2/token' from origin 'http://localhost:8080' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

Not Solved. please help me

[2019-07-18 22:28] dubeyjags commented on #168
same issue

[2019-07-23 17:30] thomas-white-ucf commented on #146
running into these issues as well @dubeyjags

[2019-08-08 07:37] VitalyaK commented on #169
Hello,
I have the same error now (502 Bad Gateway)

Sometimes I get an error when requesting
Request URL: https://api.jublo.net/codebird/oauth2/token
Request Method: POST
Status Code: 502

Sometimes it succeeds but then on the next request I get error 502
Request URL: https://api.jublo.net/codebird/1.1/statuses/user_timeline.json?id=test&count=5
Request Method: OPTIONS
Status Code: 502
Remote Addr

[2019-09-04 13:34] Saad16abdullah opened #172 "Facing Status Code: 403"
Please your urgent support.
We are facing an issue when we try to call: https://api.twitter.com/oauth/authorize?oauth_token=
Find request details in the below

Request URL: https://api.twitter.com/oauth/authorize?oauth_token=
Request Method: GET
Status Code: 403
Remote Address: 104.244.42.2:443
Referrer Policy: no-referrer-when-downgrade

[2020-09-14 08:29] nmarseaud opened #176 "Facing Status Code 500"
Facing an issue when we try to call: https://api.jublo.net/codebird/oauth2/token

Request URL: https://api.jublo.net/codebird/oauth2/token
Request Method: GET
Status Code: 500

I'm getting a CORS error : CORS policy: No 'Access-Control-Allow-Origin'
Did you change your CORS policy ? I've been using codebird for a while, that error appeared last week
Is this project still supported ?

[2020-12-10 06:46] christinna9031 opened #177 "Unretweet"
Everything is working great, thank you for this great library! I just have one question, would it be possible to add "POST statuses/unretweet/:id"? It seems to be missing in the list. https://developer.twitter.com/en/docs/twitter-api/v1/tweets/post-and-engage/api-reference/post-statuses-unretweet-id
 Thanks!

[2021-03-22 21:12] Amiin29 commented on #76
Hey my friend I have a question about the connection with server with the method rest api basic authentication help me please

[2021-06-12 02:01] lifeboatpres commented on #177
You can edit src/codebird.php and change 'statuses/retweet/:id', to

[code]

[2021-07-22 07:23] christinna9031 commented on #177
Thank you!

[2021-07-22 07:23] #177 closed, assigned to nobody

[2021-11-13 19:28] Sourav0v01 opened #180 "Facing CORS issue"
- Was working fine all of a sudden it started throwing error can you help ?
- Access to XMLHttpRequest at 'https://api.jublo.net/codebird/oauth2/token' from origin 'http://127.0.0.1:5502' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource

[2021-11-14 22:36] thatwhichis commented on #180
Seeing the same issue here; first encountered Friday 11/12, was functioning per expectation previously within the past two weeks.

[2021-11-16 05:59] Aquarica commented on #180
The issue popped up in a couple days ago here as well

[2021-11-16 09:19] Sourav0v01 commented on #180
Issue have been resolved

[2021-11-17 06:56] Sourav0v01 commented on #180
it works for second or so and stop working for hours now